<DIV ID="ING" style="text-align:center; overflow:hidden; height:32px;">
	<!-- <IMG SRC="../images/ajax-loader.gif"></img> -->
	<!-- htm 확장자 이기에 JSP 문법 <%=%>을 사용할 수 없다. -->
	<!-- <IMG SRC="<%=contextPath_grid%>/dhtmlx_v403/sources/dhtmlxWindows/codebase/imgs/dhxwins_terrace/dhxwins_progress.gif"/> -->
	<IMG SRC="/dhtmlx_v403/sources/dhtmlxWindows/codebase/imgs/dhxwins_terrace/dhxwins_progress.gif"/>
</DIV>