DIV.gridbox {
 		border-left: 1px solid #cdcdcd;
 		border-right: 1px solid #cdcdcd;
		border-bottom: 1px solid #dddddd; 			
}
DIV.gridbox .xhdr {
		border-top: 2px solid #0065cc;
		border-bottom: 1px solid #dddddd;
}
DIV.gridbox TABLE.hdr {
	border-bottom: 1px solid #cdcdcd;
}
 DIV.gridbox TABLE.hdr TD {
 	font: 12px dotum, '돋움', Arial, Helvetica, sans-serif;
 	text-align:center;
	color:#000000;
	text-align:center;
	font-weight:bold;
	height: 30px;
	vertical-align:middle;	
	padding:3px 0px 0px  0px;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #dddddd;
 }
DIV.gridbox TABLE.hdr TD input {
  	margin:0 2px 4px 1px;
}
DIV.gridbox TABLE.obj td img{
 	cursor:hand;
}
DIV.gridbox TABLE.obj td {
	height: 30px;
	vertical-align:middle;
	/* text-align: center; */
	color:#000000;
 	border-right: 1px solid #dddddd;
 	text-overflow: ellipsis;		/* 텍스트가 넘치면 ...으로 표시하는 스타일 속성*/
 	border-bottom: 1px solid #cdcdcd;	
  	white-space: nowrap; 			/* 줄 바꿈 안되게 하는 스타일 속성*/	
  	overflow: hidden;
  	font-size:11px;
  	padding-left:5px;
  	padding-right:5px;
}

 DIV.gridbox TABLE.obj TR.odd_dhx_skyblue TD  {
 	height: 27px;
	background-color: #f5f5f5;
 }
 
div.gridbox table.obj th,
div.gridbox table.hdr th {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

 