form {
    border: 0;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    background: transparent;
    color: rgb(85, 79, 160);
    text-decoration: none;
}

a:hover {
    background-color: rgb(0, 138, 255);
    color: rgb(255, 255, 255);
}



a.topbtn:link, a.topbtn:visited {
    background: transparent;
    text-decoration: none;
}

a.topbtn:hover {
    background-color: transparent;
    text-decoration: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    font-size:11px;
    font-family:돋움, 돋움체;
    line-height:160%;
}

td.first {
    width: 2em;
    text-align: center;
}

.small_font {
	font-size:10px;
	font-family: 돋움, 돋움체;
	letter-spacing: -1px;
	color: #545454;
}


table.query {
    width:100%;
    background-color: rgb(255, 255, 255);
    border: 0.25em solid rgb(234, 234, 234);
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
}

table.query thead tr {
    height: 2.2em;
}

table.query tbody tr {
    height: 2.2em;
}

table.query td, table.query th {
    border: 0;
    padding: 3px;
}

table.query th {
    background-color: rgb(255, 255, 255);
   /*  background-image: url(../image/label/Search.gif); */
    background-repeat: no-repeat;
    background-position: 0.4em 50%;
    color: rgb(0, 0, 0);
    padding: 0.2em 0.2em 0 10px;
    text-align: left;
}

table.query select {
    border: 1px solid #cccccc; 
    background-color: #f1f1f1;	
    color: #666666; 
}

table.query input {
    border: 1px solid #cccccc; 
    background-color: #f1f1f1;	
    color: #666666; 
}

table.query img {
    vertical-align:-1px;
}

table.query input.check {
    border: none;
}

table.query input.radio {
    border: none;
}

table.query input.noborder {
    border: 0px; 
    background-color: transparent;	
    color: #666666; 
}

table.query td span.selected_item {
    font-weight:bold;
    color: #6666f6; 
}


table.list_header {
    width:100%;
    padding:0 0 0 0;
    border:none;
}

table.list_header tr {
    height: 2.2em;
}

table.list_header td, table.list_header th {
    border:none;
}

table.list_header tbody td#count {
    font-weight:normal;
    color: #888888;    
    text-align:left;
    background-image: url("../image/bulletin/icon_total_count.gif");
    background-repeat: no-repeat;
    background-position: 0.4em 50%;
    padding-left: 20px;
}


table.list {
    width:100%;
    padding:3px 3px 3px 3px;
    border:none;
}

table.list thead tr {
    height: 30px;
}

table.list tbody tr {
    height: 2.2em;
}

table.list thead th, table.list thead td {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: none;
    border-right: none;
    background-color: #ffffff;    
	font-weight: bold;
	letter-spacing:-1px;
	color:#222222;  
	text-align:center; 
}

table.list tbody tr.hover {
    background-color:#fafafa;
}

table.list tbody tr.desc_area {
    display:none;
}

table.list tbody th {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
	font-weight: bold;
	color:#9C9C9C;  
}

table.list tbody td {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
	font-weight: normal;
	color:#9C9C9C;  
}

table.list tbody input {
    border:none;
}

table.list tbody td a:link    {background:none;text-decoration: none; color: #676767;}
table.list tbody td a:active  {background:none;text-decoration: none; color: #676767;}
table.list tbody td a:visited {background:none;text-decoration: none; color: #676767;}
table.list tbody td a:hover   {background:none;text-decoration:underline; color:#8BAE10;}


table.view {
    width:100%;
    border:none;
}

table.view thead tr {
    height: 2.2em;
}

table.view tbody tr {
    height: 2.2em;
}

table.view thead th {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.view thead td {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.view tbody th {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.view tbody td {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.view td.contents {
    padding:10px;
    background-color:#f5f5f5;
}

table.view a:link    {background:none;text-decoration: none; color: #676767;}
table.view a:active  {background:none;text-decoration: none; color: #676767;}
table.view a:visited {background:none;text-decoration: none; color: #676767;}
table.view a:hover   {background:none;text-decoration:underline; color:#8BAE10;}

table.view a.mail:link    {background:none;text-decoration: none; color: #676767;}
table.view a.mail:active  {background:none;text-decoration: none; color: #676767;}
table.view a.mail:visited {background:none;text-decoration: none; color: #676767;}
table.view a.mail:hover   {background:none;text-decoration:none; color:#8BAE10;}

table.view input.noborder {
    border: 0px; 
    background-color: transparent;	
    color: #666666; 
}

table.form_header {
    width:100%;
    border:none;
}

table.form_header tr {
    height: 2.2em;
}

table.form_header td, table.form_header th {
    border:none;
}

table.form {
    width:100%;
    border:none;
}

table.form thead tr {
    height: 2.2em;
}

table.form tbody tr {
    height: 2.2em;
}

table.form thead th {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.form thead th.required {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    background-image: url(../image/label/Required.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font-weight:bold;
    color:#222222;
}

table.form thead td {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.form tbody th {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.form tbody th.required {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-image: url(../image/label/Required.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.form tbody td {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.form a:link    {background:none;text-decoration: none; color: #676767;}
table.form a:active  {background:none;text-decoration: none; color: #676767;}
table.form a:visited {background:none;text-decoration: none; color: #676767;}
table.form a:hover   {background:none;text-decoration:underline; color:#8BAE10;}

table.form a.mail:link    {background:none;text-decoration: none; color: #676767;}
table.form a.mail:active  {background:none;text-decoration: none; color: #676767;}
table.form a.mail:visited {background:none;text-decoration: none; color: #676767;}
table.form a.mail:hover   {background:none;text-decoration:none; color:#8BAE10;}

table.form input.noborder {
    border: 0px; 
    background-color: transparent;	
    color: #666666; 
}

table.button {
    width:100%;
    margin-top:0.6em;
}

table.button td, table.button th{
    border:none;
}

table.button tr {
    height:40px;
    vertical-align:top;
}

table.button td.left_button, table.button th.left_button{
    text-align:left;
}

table.button td.right_button, table.button th.right_button{
    text-align:right;
}

iframe.ifEditor {
    overflow:visible;
    width:100%;
    display:inline;
}


a.location:link { background:none; font-size:11px; font-family: 돋움, 돋움체; letter-spacing: -1px; text-decoration: none; color: #8E8E8E }
a.location:visited { background:none; font-size:11px; font-family: 돋움, 돋움체; letter-spacing: -1px; text-decoration: none; color: #8E8E8E }
a.location:active { background:none; font-size:11px; font-family: 돋움, 돋움체; letter-spacing: -1px; text-decoration: none; color: #8E8E8E }
a.location:hover { background:none; font-size:11px; font-family: 돋움, 돋움체; letter-spacing: -1px; text-decoration:none; color: #A7729F }






table.detail {
    border:none;
}

table.detail tr {
    height: 2.2em;
}

table.detail thead th {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.detail thead td {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.detail tbody th {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:bold;
    color:#222222;
}

table.detail tbody td {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    background-color:transparent;
    font-weight:normal;
    color:#222222;
}

table.detail a:link    {background:none;text-decoration: none; color: #676767;}
table.detail a:active  {background:none;text-decoration: none; color: #676767;}
table.detail a:visited {background:none;text-decoration: none; color: #676767;}
table.detail a:hover   {background:none;text-decoration:underline; color:#8BAE10;}

table.detail a.mail:link    {background:none;text-decoration: none; color: #676767;}
table.detail a.mail:active  {background:none;text-decoration: none; color: #676767;}
table.detail a.mail:visited {background:none;text-decoration: none; color: #676767;}
table.detail a.mail:hover   {background:none;text-decoration:none; color:#8BAE10;}



table.list_stat {
    width:100%;
    padding:3px 3px 3px 3px;
    border:none;
}

table.list_stat thead tr {
    height: 30px;
}

table.list_stat tbody tr {
    height: 2.2em;
}

table.list_stat thead th, table.list_stat thead td {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    background-color: #ffffff;
    background-color:#efefef;    
	font-weight: bold;
	letter-spacing:-1px;
	color:#222222;  
	text-align:center; 
}

table.list_stat tbody tr.hover {
    background-color:#fafafa;
}

table.list_stat tbody tr.desc_area {
    display:none;
}

table.list_stat tbody th {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
	text-align:center;
	font-weight: bold;
    background-color:#f5f5f5;
	color:#9C9C9C;  
}

table.list_stat tbody td {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-right: 2px;
	font-weight: normal;
	color:#9C9C9C;
}





table.grid_list {
    width:100%;
    padding:3px 3px 3px 3px;
    border:none;
}

table.grid_list th.title, table.grid_list td.title {
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: none;
    border-right: none;
    background-color: #f1f1f1;    
    padding-left:5px;
	font-weight: bold;
	letter-spacing:-1px;
	height: 2.2em;
	color:#222222;  
}

table.grid_list td.data {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    padding-left:10px;
	font-weight: normal;
	height: 2.0em;
	color:#9C9C9C;  
}

table.grid_list a:link    {background:none;text-decoration: none; color: #676767;}
table.grid_list a:active  {background:none;text-decoration: none; color: #676767;}
table.grid_list a:visited {background:none;text-decoration: none; color: #676767;}
table.grid_list a:hover   {background:none;text-decoration:underline; color:#8BAE10;}



th.asc {
    background-image: url("../image/label/Asc.gif");
    background-repeat: no-repeat;
    background-position: 95% 45%;
}

th.desc {
    background-image: url("../image/label/Desc.gif");
    background-repeat: no-repeat;
    background-position: 95% 45%;
}

ul.tab-menu {
    margin: 2em 0 2em 0;
    padding: 0;
}

ul.tab-menu li {
    border-bottom: 1px solid rgb(192, 192, 192);
    display: inline;
    margin: 0;
    padding: 1em 0.5em;
    text-align: center;
}

ul.tab-menu li span {
    cursor: pointer;
}

ul.tab-menu li.selected {
    border-top: 1px solid rgb(192, 192, 192);
    border-right: 1px solid rgb(192, 192, 192);
    border-left: 1px solid rgb(192, 192, 192);
    border-bottom: none;
}

div.tree {
    border: 1px solid rgb(192, 192, 192);
    width: 95%;
    height: 40em;
    overflow: auto;
}

div.tree div.closed {
    background-image: url("../../ext/image/tree/Closed1.gif");
    background-repeat: no-repeat;
    padding: 0 0 0 1.2em;
}

div.tree div.opened {
    background-image: url("../../ext/image/tree/Opened1.gif");
    background-repeat: no-repeat;
    padding: 0 0 0 1.2em;
}

div.tree div.leaf {
    background-image: url("../../ext/image/tree/File1.gif");
    background-repeat: no-repeat;
    padding: 0.2em 0 0 1.2em;
}

div.tree div {
    cursor: pointer;
    display: inline;
    margin: 0;
}

div.tree ul {
    padding: 0;
    margin-left: 0.9em;
    list-style: none;
}

div.tree ul li {
    margin: 3px 0;
}

div.tree ul li ul {
    display: none;
}

div.tree ul img {
    margin: 0 0.3em 0 0;
}

div#main {
    margin: 0 0 0 0;
    text-align:left;
}

div#main ul, div#main h1, div#main h2 {
    font-size: 11px;
}

div#main table, div#main div {
    
}

div#main h1.title {
    background-color: rgb(255, 255, 255);
    background-image: url(../image/label/Title2.gif);
    background-position: 0;
    background-repeat: no-repeat;
    color: rgb(11, 154, 243);
	margin: 1em 0 0.4em 0;
    padding: 0.2em 0 0.2em 2em;
}

div#main h2.sub_title {
    background-color: rgb(255, 255, 255);
    background-image: url(../image/label/Arrow1.gif);
    background-position: 0 0.05em;
    background-repeat: no-repeat;
    color: rgb(128, 128, 128);
    margin: 1.5em 0 0.5em 0;
    padding-left: 1.5em;
}

div#main div.button {
    margin: 0.3em 0 0 0;
    text-align: right;
}

div#main div.button a:hover {
    background: transparent;
    color: rgb(85, 79, 160);
}

div#main div.navigation {
    margin: 1em 0 0 0;
    text-align: center;
}

div#main ul.upload, ul.download {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#main ul.upload li, ul.download li {
    margin: 0.3em 0;
}

div#main ul.upload li span a {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    cursor: pointer;
    margin: 0 0 0 1em;
}

div#debug {
    margin: 1em 0 0 0;
}

div#debug-in {
    border: 1px solid rgb(192, 192, 192);
    margin: 0.5em 0 2em 0;
    padding: 0 1em 2em 1em;
}

div#debug ul {
    margin: 2em 0;
}

div#debug li {
    cursor: pointer;
}

div#debug table {
    width: 100%;
}

div#debug th {
    font-size: 0.9em;
    padding: 0.5em 1em 0.5em 0;
    width: 28%;
}

div#debug td {
    font-size: 0.9em;
    padding: 0.5em 1em;
}

div#debug textarea {
    font-size: 1em;
}

div.scrollbox_100 {
    border-bottom:1px solid #efefef;
    width:100%;
    height:11.2em;
    overflow-y:scroll;
    overflow-x:hidden
}