@charset "utf-8";
/************************************************
2011-03-26
Version : 1.0 
*************************************************/

/* 검색조건 */
.board-search { width:100%; margin-bottom:10px; border:1px solid #dde1e3;}
.board-search td { font-size:12px; text-align:left; padding-left:10px; border-bottom:1px dashed #ccc; background:#f4f4f4;}
.board-search td.tit { font-size:12px; padding-left:16px; height:27px; text-align:left; background:#f4f4f4 url(../images/bul_arrow3.gif) 8px 50% no-repeat;}

/* 메인 테이블 */
.main-table { width:100%;}

/* 일반게시판 상세 */
.board_view_comm { width:100%; border-top:2px solid #969595; border-bottom:1px solid #969595; }
.board_view_comm th { padding:7px 0 5px 0; border-bottom:1px solid #e1e1dc; background:#f0edea; }
.board_view_comm td { padding:7px 0 5px 15px; border-bottom:1px solid #e1e1dc; background:#fff; }


/* 팝업 게시판 리스트 */
.board_plist_comm { border-top:2px solid #969595; }
.board_plist_comm thead th {padding:8px 0 6px 0;font-size:1em; border:1px solid #e8e8e8; }
.board_plist_comm thead th.fist { border-left:0px; }
.board_plist_comm thead th.last { border-right:0px; }
.board_plist_comm tbody td {padding:6px 5px 4px 5px; text-align:center; background:#f5f5f5; border:1px solid #e8e8e8;}
.board_plist_comm tbody td.white { background:#FFF; }
.board_plist_comm tbody td.fist { border-left:0px; }
.board_plist_comm tbody td.last { border-right:0px; }

.board_plist_comm2 { }
.board_plist_comm2 tbody td {padding:6px 5px 4px 5px; text-align:center; background:#f5f5f5; border:1px solid #e8e8e8;}
.board_plist_comm2 tbody td.white { background:#FFF; }
.board_plist_comm2 tbody td.fist { border-left:0px; }
.board_plist_comm2 tbody td.last { border-right:0px; }

.p_boardview_1 { font-size:12px; border-top:2px solid #969595; }
.p_boardview_1	th { padding:6px 10px 4px 0; text-align:right; background:#f0edea; border-bottom:1px solid #e1e1dc; }
.p_boardview_1	td { padding:6px 0 4px 10px; border-bottom:1px solid #e1e1dc; }
.p_boardview_1	td.content { height:250px; padding:6px 0 4px 10px; vertical-align:text-top; }
.p_boardview_1	td.file { height:100px; padding:6px 0 4px 10px; vertical-align:text-top; }

.p_taxview { border-top:2px solid #969595; }
.p_taxview	thead	th { padding:4px 0 2px 0; font-size:11px; background:#f0edea; border-bottom:1px solid #e1e1dc; }
.p_taxview	tbody	th { padding:4px 10px 2px 0; font-size:11px; text-align:right; background:#f0edea; border-bottom:1px solid #e1e1dc; }
.p_taxview	tbody	td { padding:4px 0 2px 10px; font-size:11px; border-left:1px solid #e1e1dc; border-bottom:1px solid #e1e1dc; }

/* 결재선지정 */
.settlement_list { border-top:1px solid #969595; }
.settlement_list  th {padding:4px 0 2px 0; background:#f5f5f5; border:1px solid #e8e8e8; border-width:0 1px 1px 1px }
.settlement_list  th.fist { border-left:0px; }
.settlement_list  th.last { border-right:0px; }
.settlement_list  td {padding:4px 5px 2px 5px; text-align:center; border:1px solid #e8e8e8;}
.settlement_list  td.fist { border-left:0px; }
.settlement_list  td.last { border-right:0px; }
.settlement_list  .txt_input { color:#565656; text-align:center; font-size:11px; border:0px; }

/* 결재위임 */
.commission_list { border-top:1px solid #969595; }
.commission_list  th {padding:4px 8px 2px 0; text-align:right; background:#f5f5f5; border:1px solid #e8e8e8; border-width:0 1px 1px 1px }
.commission_list  td {padding:4px 5px 2px 8px; text-align:center; border:1px solid #e8e8e8; border-width:0 1px 1px 1px }

/* leftrightdiv */
.leftrightdiv_list { border-top:1px solid #969595; }
.leftrightdiv_list  th {padding:4px 8px 2px 0; text-align:right; background:#f5f5f5; border:1px solid #e8e8e8; border-width:0 1px 1px 1px }
.leftrightdiv_list  td {padding:4px 5px 2px 8px; text-align:center; border:1px solid #e8e8e8; border-width:0 1px 1px 1px }
