@charset "utf-8";
/************************************************
2011-03-26
Version : 1.0 
*************************************************/

@import url('default.css');
@import url('board.css');

/* margin */
.mg-0 {margin:0 !important}
.mgt-m5 {margin-top:-5px !important}
.mgt-0 {margin-top:0 !important}
.mgt-3 {margin-top:3px !important}
.mgt-4 {margin-top:4px !important}
.mgt-5 {margin-top:5px !important}
.mgt-7 {margin-top:7px !important}
.mgt-8 {margin-top:8px !important}
.mgt-10 {margin-top:10px !important}
.mgt-15 {margin-top:15px !important}
.mgt-16 {margin-top:16px !important}
.mgt-20 {margin-top:20px !important}
.mgt-25 {margin-top:25px !important}
.mgt-30 {margin-top:30px !important}
.mgt-35 {margin-top:35px !important}
.mgt-45 {margin-top:45px !important}
.mgt-55 {margin-top:55px !important}

.mgb-5 {margin-bottom:5px !important}
.mgb-10 {margin-bottom:10px !important}
.mgb-15 {margin-bottom:15px !important}
.mgb-50 {margin-bottom:50px !important}
.mgb-30 {margin-bottom:30px !important}

.mgl-3 {margin-left:3px !important}
.mgl-4 {margin-left:4px !important}
.mgl-5 {margin-left:5px !important}
.mgl-6 {margin-left:6px !important}
.mgl-7 {margin-left:7px !important}
.mgl-8 {margin-left:8px !important}
.mgl-9 {margin-left:9px !important}
.mgl-10 {margin-left:10px !important}
.mgl-13 {margin-left:13px !important}
.mgl-15 {margin-left:15px !important}
.mgl-16 {margin-left:16px !important}
.mgl-18 {margin-left:18px !important}
.mgl-21 {margin-left:21px !important}
.mgl-25 {margin-left:25px !important}
.mgl-42 {margin-left:42px !important}
.mgl-44 {margin-left:44px !important}

/* font-style */
.font-line0 {font:0/0 Arial}
.line-ht0 {line-height:0 !important}
.underline {text-decoration:underline !important}

/* align */
.t_left {text-align:left !important}
.t_center {text-align:center !important}
.t_right {text-align:right !important}

.f_left {float:left !important}
.f_center {float:center !important}
.f_right {float:right !important}

/* COLOR */
.point {color:#ff6600 !important}
.color1 {color:#ea002c !important}
.color2 {color:#4494be !important}


/* 버튼-왼쪽정렬 CSS */
.searchbtn { float:right; width:auto; margin:0; height:auto;}
.searchbtn a.btn { float:left; display: block; margin-right:5px; height:22px; padding-left:15px; background: transparent url('../images/btn3_left_bg.gif') 0 0 no-repeat; font:bold 11px Malgun Gothic, Verdana, Trebuchet MS; line-height: 19px; text-decoration: none; }
.searchbtn a.btn:link, .searchbtn a.btn:visited, .searchbtn a:active { color: #FFF;}
.searchbtn a.btn span {display:block; padding: 0 15px 4px 0; background:transparent url('../images/btn3_right_bg.gif') no-repeat top right;}
.searchbtn a.btn:hover span { color: #FFF;}

.btnarea { float:right; width:auto; margin:0; height:auto;}
.btnarea a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn4_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 22px;text-decoration: none;}
.btnarea a.btn:link, .btnarea a.btn:visited, .btnarea a:active { color: #FFF;}
.btnarea a.btn span {display:block; padding: 0 15px 0 0;;padding-bottom:5px; background:transparent url('../images/btn4_right_bg.png') no-repeat top right; color:#FFFFFF;}
.btnarea a.btn:hover span { color: #FFFFFF;}

.btnarea2 { float:left; width:auto; margin:2px 0 0 0; height:auto; vertical-align:middle;}
.btnarea2 a.btn { float:left; display: block; margin-left:5px; height:18px; padding-left:10px; background: transparent url('../images/btn2_left_bg.gif') 0 0 no-repeat; font:normal 11px Dotum, Verdana, Trebuchet MS; line-height: 18px; text-decoration: none;}
.btnarea2 a.btn:link, .btnarea2 a.btn:visited, .btnarea2 a:active { color: #8d8781;}
.btnarea2 a.btn span {display:block; padding: 0 10px 0 0; background:transparent url('../images/btn2_right_bg.gif') no-repeat top right;}
.btnarea2 a.btn:hover span { color: #ff6600;}

.btnarea3 { float:right; width:auto; margin:0; height:auto;}
.btnarea3 a.btn { float:left; display: block; margin-left:5px; height:19px; padding-left:10px; background: transparent url('../images/p_btn4_left_bg.gif') 0 0 no-repeat; font:normal 11px Dotum, Verdana, Trebuchet MS; line-height: 21px; text-decoration: none;}
.btnarea3 a.btn:link, .btnarea3 a.btn:visited, .btnarea3 a:active { color: #FFF;}
.btnarea3 a.btn span {display:block; padding: 0 10px 0 0; background:transparent url('../images/p_btn4_right_bg.gif') no-repeat top right;}
.btnarea3 a.btn:hover span { color: #FFF;}

.btnarea4 { float:right; width:auto; margin:0; height:auto;}
.btnarea4 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn5_left_bg.png') 0 0 no-repeat; font:12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 23px; text-decoration: none;}
.btnarea4 a.btn:link, .btnarea4 a.btn:visited, .btnarea4 a:active { color: black;}
.btnarea4 a.btn span {display:block; padding: 0 15px 2px 0; background:transparent url('../images/btn5_right_bg.png') no-repeat top right;}
.btnarea4 a.btn:hover span { color: black;}

/* 파랑색 큰 버튼*/
.btnarea5 { float:right; width:auto; margin:0; height:auto; margin-right:-6px;}
.btnarea5 a.btn { float:left; display: block; margin-right:5px; height:35px; padding-left:15px; background: transparent url('../images/btn6_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 35px; text-decoration: none;}
.btnarea5 a.btn:link, .btnarea5 a.btn:visited, .btnarea5 a:active { color: #FFF;}
.btnarea5 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn6_right_bg.png') no-repeat top right;}
.btnarea5 a.btn:hover span { color: #FFF;}

/* 흰색 큰 버튼*/
.btnarea6 { float:right; width:auto; margin:0; height:auto;}
.btnarea6 a.btn { float:left; display: block; margin-right:5px; height:35px; padding-left:15px; background: transparent url('../images/btn7_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 35px; text-decoration: none;}
.btnarea6 a.btn:link, .btnarea6 a.btn:visited, .btnarea6 a:active { color: black;}
.btnarea6 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn7_right_bg.png') no-repeat top right;}
.btnarea6 a.btn:hover span { color: black;}

/* 하늘 색 작은 버튼*/
.btnarea7 { float:right; width:auto; margin:0; height:auto;}
.btnarea7 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn8_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 25px; text-decoration: none;}
.btnarea7 a.btn:link, .btnarea7 a.btn:visited, .btnarea7 a:active { color: #FFF;}
.btnarea7 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn8_right_bg.png') no-repeat top right;}
.btnarea7 a.btn:hover span { color: #FFF;}

/* 히스토리 네비게이션 */
#mainTop { width:100%; height:40px; }
#mainTop h1.lineMap {float:left; margin-top:12px; padding:0 0 0 0; font-size:11px; text-align:right; font-weight:normal;}
#mainTop h1.lineMap img {margin:0 4px 0 4px;}
#mainTop h1.lineMap a.txt { font-size:11px; vertical-align:middle;}
#mainTop h1.lineMap span.tit { font-size:11px; color:#807f7f; font-weight:bold;}

/* 로그인 */
.Cploginbox { position:relative; width:720px; height:320px;margin:150px auto 0 auto; padding:0; background:url(../images/login_cp_bg.gif) no-repeat; }
.Cploginbox .form { position:absolute; left:240px; top:130px; width:250px; height:50px; padding:0; margin:0; }
.Rploginbox { position:relative; width:1920px; height:1080px;margin:0 auto 0 auto; padding:0; background:url(../images/login_nimsou_bg_NP.png) no-repeat; }
.Rploginbox .form { position:absolute; left:1435px; top:485px; width:350px; height:100px; padding:0; margin:0; }

/* GNB 개인정보 */
.logo_area { font:0/0 Arial; text-align:center; vertical-align:bottom; border:0px;}
img.logo_image { max-width:146px; max-height:42px; width:146px; height:42px;}
.gnb_userdata { float:right; width:auto; margin:20; height:auto;}
.gnb_userdata	strong { font-weight:bold; }
.gnb_userdata	a.btn { margin-left:2px; }
.gnb_userdata	a.btn	img { vertical-align:middle;}

.gnb_area {display:inline-block;*display:inline;*zoom:1; height:33px; background:url(../images/gnb_ba_bg.gif) repeat-x; vertical-align:top;}
.gnb_area	.main_menu { width:1024px; margin-top:7px; }
.gnb_area	.main_menu li {float:left; padding:0 25px; font:0/0 Arial; background:url(../images/gnb_menu_line.gif) right 50% no-repeat; }
.gnb_area	.main_menu li.last {background:url() right 50% no-repeat; }

.sub_gnb_bg { width:100%; height:88px; background:url(../images/sub_topbg.gif) 0 0 repeat-x; }

/* 공지사항 */
.news_list {position:relative; width:250px; margin:0;}
.news_list .intro_news {overflow:hidden;}
.news_list .intro_news h3 img {display:block; padding:5px 0 0 0;}
.news_list .intro_news .more {position:absolute; top:5px;left:205px; }
.news_list .intro_news .more a {display:block;padding:6px 5px;font:0/0 Arial}
.news_list .notice_list {clear:left; width:380px; margin-top:15px}
.news_list .notice_list li { }
.news_list .notice_list li a {display:block; padding:2px 0 2px 10px; color:#666; font-size:11px; line-height:16px; background:url(../images/bul_gray.gif) no-repeat left 50%; *zoom:1;}

/* 탑 공지사항 */
.top_news_list {position:relative; width:190px; margin:0;}
.top_news_list .intro_news {overflow:hidden;}
.top_news_list .intro_news h3 img {display:block; padding:5px 0 0 0;}
.top_news_list .intro_news .more {position:absolute; top:5px;left:160px; }
.top_news_list .intro_news .more a {display:block;padding:6px 5px;font:0/0 Arial}
.top_news_list .notice_list {clear:left; width:190px; margin-top:15px; }
.top_news_list .notice_list li { font-size:11px; line-height:16px; background:url(../images/bul_gray.gif) no-repeat left 50%;}
.top_news_list .notice_list li a {display:block; width:185px; padding:2px 0 2px 10px; color:#666; white-space:nowrap; text-overflow:ellipsis;-o-text-overflow:ellipsis; *zoom:1; overflow:hidden;}


/* 주요서비스 */
.intro_service {}
.intro_service .tab_service { height:29px; }
.intro_service .tab_service td { text-align:center; }
.intro_service .tab_service td.on { padding:9px 0 2px 0; font-size:11px; font-weight:bold; border:1px solid #ddd; border-width:1px 1px 0 1px; background:#fff;}
.intro_service .tab_service td.off { padding:7px 0 3px 0; font-size:11px; border:1px solid #ddd; border-width:1px 1px 1px 1px; background:#f9fafa;}
.intro_service .tab_service td.off	a { color:#988d84;}
.intro_service .tab_service td.none { height:28px; border:1px solid #ddd; border-width:0 0 1px 0;}
.intro_service .service_cont { margin-top:0px;_margin-top:0px; padding:10px; height:100px; border:1px solid #ddd; border-width:0 1px 1px 1px; background:#fff; }

.intro_service .service_cont	.board_style1 {}
.intro_service .service_cont	.board_style1	td { font-size:12px; line-height:18px; }
.intro_service .service_cont	.board_style1	td.bul_orange { cursor:hand; padding-left:8px; background:url(../images/bul_orange.gif) 0 50% no-repeat; }
.intro_service .service_cont	.board_style1	td.txt_center { text-align:center; }
.intro_service .service_cont	.board_style1	td.txt_right { text-align:right; }

/* top_주요서비스 */
.servicetop { }
.servicetop .tab_service { }
.servicetop .tab_service td { text-align:center; }
.servicetop .tab_service td.on { padding:4px 0 2px 0; font-size:11px; font-weight:bold; color:#FFF; border:1px solid #f58129; border-width:1px 1px 0 1px; background:#f58129;}
.servicetop .tab_service td.on	a { color:#fff;}
.servicetop .tab_service td.off { padding:4px 0 2px 0; font-size:11px; border:1px solid #e1e1e1; border-width:1px 1px 0 1px; background:#fff;}
.servicetop .tab_service td.off	a { color:#988d84;}
.servicetop .tab_service td.none { height:28px; border:1px solid #ddd; border-width:0 0 1px 0;}
.servicetop .service_cont { margin-top:0px;_margin-top:0px; padding:0; height:100px; border-top:1px solid #f58129; background:#fff; }

.servicetop .service_cont	.board_style1 { margin-top:5px; border-bottom:1px solid #e1e1e1;}
.servicetop .service_cont	.board_style1	td { font-size:12px; line-height:18px; }
.servicetop .service_cont	.board_style1	td.bul_orange { padding-left:10px; background:url(../images/bul_orange.gif) 2px 50% no-repeat; }
.servicetop .service_cont	.board_style1	td.txt_center { text-align:center; }
.servicetop .service_cont	.board_style1	td.txt_right { padding-right:5px; text-align:right; }

div.pager {	width:229px; float:left; margin:12px 0 0 0; text-align:center; font-family:verdana; font-size:11px; line-height:13px;}
div.pager img {	margin:0; vertical-align:middle; }
div.pager span.current { font-weight: bold;	color:#E77E1C; text-decoration:none; }

/* 왼쪽메뉴 */
.my_info {  }
.my_info td { padding:6px 0 4px 5px; font-size:12px; color:#828282; text-align:left; border-bottom:1px solid #eeeeee; }
.my_info td	a { color:#828282; }
.my_info td.txtR { padding:6px 5px 4px 0; font-size:12px; color:#828282; text-align:right; }
.left_menu1 { padding:8px 0 6px 20px; font-size:12px; text-align:left; border-bottom:1px solid #7c8e9d; background:url(../images/bul_arrow1.gif) 7px 10px no-repeat; }
.depth2	{ background:#f8f8f8; border-bottom:1px solid #dddddd;}
.depth2	td { padding:4px 0 2px 20px; font-size:12px; text-align:left; background:url(../images/bul_gray_dot.gif) 10px 8px no-repeat;}
.left_menu2 { padding:8px 0 6px 20px; font-size:12px; text-align:left; border-bottom:1px solid #dddddd; background:url(../images/bul_arrow2.gif) 7px 10px no-repeat; }

/* 블릿타이틀 */
.depth2_tit { margin-top:5px; padding:0 0 0 18px; background:url(../images/bul_2depth_tit.gif) 3px 2px no-repeat; }
.depth2_tit2 { margin:0; padding:0 0 0 18px; background:url(../images/bul_2depth_tit.gif) 3px 2px no-repeat; }

/* 게시글 수 */
.title_num { color:#707070; font-size:11px; }

/* 게시글 수 */
.title_cp { color:#707070; font-size:12px; font-weight: bold;}


/* 결제위임 */
.commission { height:200px; padding:10px 8px; border:2px solid #d5d5d5; overflow:hidden; }

/* 좌우분할화면 */
.leftrightdiv { padding:10px 8px; border:2px solid #d5d5d5; overflow:hidden; }


/* 네트웍오앤에스 - 메인 */
.ons_content_box { position:relative; width:520px; height:120px; background:url(../images/ons_content_box.gif) 0 0 no-repeat; }
.ons_content_box	.content_layers1 { position:absolute; left:10px; top:10px; width:220px; height:110px; padding:10px; border:2px solid #988d84; background:#FFF; z-index:99 }
.ons_content_box	.content_layers1 .scrollbox { margin-top:5px; border-top:1px solid #cbc6c1; overflow:scroll; overflow-x:hidden; }
.ons_content_box	.content_layers1 .scrollbox	td { padding:2px 0 1px 5px; text-align:left; }
.ons_content_box	.content_layers1 .scrollbox	td.txtR { padding:2px 5px 1px 0; text-align:right; }
.ons_content_box	.content_layers1 .scrollbox	td.txtC { padding:2px 0 1px 0; text-align:center; }

.ons_content_box	.content_layers2 { position:absolute; left:260px; top:10px; width:220px; padding:10px; border:2px solid #988d84; background:#FFF; z-index:99 }
.ons_content_box	.content_layers2 .scrollbox { margin-top:5px; height:84px; border-top:1px solid #cbc6c1; overflow:scroll; overflow-x:hidden; }
.ons_content_box	.content_layers2 .scrollbox	td { padding:2px 0 1px 5px; text-align:left; }
.ons_content_box	.content_layers2 .scrollbox	td.txtR { padding:2px 5px 1px 0; text-align:right; }
.ons_content_box	.content_layers2 .scrollbox	td.txtC { padding:2px 0 1px 0; text-align:center; }

.bul_txt { padding:0 0 2px 8px; background:url(../images/bul_orange.gif) 0 6px no-repeat; }

/*exePolicySetMgmt */
.topPolicySet{
	margin:20px;
	border-top:2px solid #0065cc;
}
.topPolicySet .createPolicySet{
 	height:300px;
 	width:100%;
}
.topPolicySet .topth{
	width: 180px;
	background-color:#f3f3f3;
	border-bottom:1px solid #d9d9d9;
}
.topPolicySet .toptd{
	border-bottom:1px solid #d9d9d9;
	padding:5px 10px 5px 10px;
	width:80%;
}

.policySetting table td{
	border-bottom:1px solid #d9d9d9;
	padding:5px;
}
.topPolicySet input{
	vertical-align:middle;
}
.topPolicySet table{
	width:100%;
}
.topPolicySet.ipAddr{
	text-align:center;
}
.topPolicySet.ipAddr .ipAddrInput {
	width:540px;
	text-align:center;
	margin:5px;
}
.topPolicySet .ipAddr .ipAddrInput .iptd
{
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
}
.topPolicySet .ipAddr .ipAddrInput .ipBtn
{
	padding-top : 5px;
}	