﻿﻿@charset "UTF-8";
/*Copyright ©2013 LG CNS, All Rights Reserved.*/
/*본문서의 내용을 변경할 경우에는 반드시 LG화학 WSG 담당자와의 협의를 거쳐 진행하도록 함*/

/* HTML Elements */

* {
	margin: 0;
	padding: 0; 
}
html {
	overflow:auto;
}
body {
	font: 12px/1.5em dotum, '돋움', Arial, Helvetica, sans-serif;
	color: #222;
	background: #fff;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
hr {
	display: none;
}
h1 {
	font-size: 1.2em;
}
img {
	border: none;
	vertical-align:middle;
}
input.j_file {
	height:24px;
	width:100%;
	margin-top:2px;
}
input, select, textarea {
	border: 1px solid #C3C3C3;
}
input, select, button, textarea {
	font-family: dotum, '돋움', Arial, Helvetica, sans-serif;
}
input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
	border: none;
}
button {
	border: none;
	cursor: pointer;
}
table {
	width: 100%;
}
iframe {
	border: none;
}
*:focus {
	outline: none
}
.Lnodisplay {
	display: none;
}
.blockDisplay{
	display:block;
}
.clear {
	clear: both;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
caption {
	display: none;
}
.bold {
	font-weight: bold;
}
.readOnly {
	color: #666666;
	background: #d9d9d9;
}
.right {
	text-align: right;
}

/* Global Elements
 ---------------------------------------------------------*/
/* UI Object */
.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	min-width: 1280px;
	min-height: 768px;
}
.header {
	height: 40px;
	position: relative;
	background-color:#484849;
	z-index: 100;
}
.container { 
	position: relative;
	width: 100%;
	overflow-y: auto;
}
.quickMenu {
	width: 54px;
	height: 616px;
	position: absolute;
	left: 6px;
	top: 46px;
	z-index: 1;
}
.leftMenu {
	width: 189px;
	position: absolute;
	top:0;
	left:0;
	z-index:5;
	margin: 17px 0 0 10px;
}
.contents {
	width: 100%;
	position: absolute;
	top: 0px;
	left: -5px;	
	min-height: 600px;
	z-index:100;
}
.innerContent {
	width: 100%;
	margin: 24px 10px 0px 14px;
}
/* Header */
.hLogo {
	width: 153px;
	height: 23px;
	position: absolute;
	top: 10px;
	left: 17px;
}
.hMenu {
	width: 760px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 211px;
}
.hMenu li {
	font-weight:bold;
	float: left;
	background: url("../images/brdr_header.gif") no-repeat right center;
	position: relative;
}
.hMenu li.noRightBorder {
	margin-right: 0px;
}
.hMenu a {
	font-size:12px;
	color:#ffffff;
	float: left;
	padding: 14px 30px 13px;
}
.hMenu a:hover {
	color:#ffffff;
}
.hMenu a.on {
	height:13px;
	background: #0065cc;
}

.hMap {
	width: 97px;
	height: 24px;
	position: absolute;
	top: 8px;
	right: 304px;
}
.hSearch {
	width: 271px;
	height: 28px;
	background: url("../images/bg_header_search.gif") no-repeat;
	position: absolute;
	padding: 12px 0px 0px 20px;
	top: 0px;
	right: 0px;
	vertical-align: top;
}
.hSearch select {
	border: none;
	color: #727272;
	height: 16px;
	background-color: transparent; 
}
.hSearch input {
	border: none;
	color: #222;
	height: 16px;
	padding: 0px 4px;
	background-color: transparent;
}
.hSearch button {
	width: 25px;
	height: 18px;
	position: absolute;
	top: 13px;
	right: 12px;
	background: url("../images/icon/ico_magnify.png") no-repeat center center;
	text-indent: -10000px;
}

/* Mega Drop */
.megaDrop {
	z-index: 999;
	background: #595959 url("../images/bg_megadrop_right.gif") repeat-y right center;
	position: absolute;
	top: 40px;
	left: 0px;
	height: 90px;
	padding-top: 10px;
}
.megaDrop.on {
	background: #484848 url("../images/bg_megadrop_right.gif") repeat-y right center;
}
.megaDrop a.on {
	background: #484848;
}
.megaDrop li {
	background: none;
}
.megaDrop li a {
	font-weight:normal;
	display: block;
	color: #fff;
	text-shadow: 0px 0px #000000;
	padding: 0 0 0 9px;
	line-height: 26px;
}
.megaDrop li a.megaHover, .megaDrop li a:hover {
	height: 26px;
	background: url("../images/bg_megadrop_hover.gif") repeat-x;
	color: #353535;
	margin-left: 6px;
	padding: 0 0 0 3px;
}

.hUser0 a {
	width:83px;
}
.hUser0 .megaDrop li a {
	width: 124px;
}
.hUser0 .megaDrop li a.megaHover, .hUser0 .megaDrop li a:hover {
	padding: 0 0 0 3px;
}

.hUser1 a{
	width:83px;
}
.hUser1 a.on {
	width:83px;
}

.hUser1 .megaDrop {
		width:143px;
}
.hUser1 .megaDrop li a {
	width: 123px;
}

.hUser2 .megaDrop  {
	width: 192px;
}
.hUser2 .megaDrop li a {
	width: 120px;
	padding: 0 0 0 9px;
}
.hUser2 .megaDrop li a.megaHover, .hUser2 .megaDrop li a:hover {
	width:173px;
	padding: 0 0 0 3px;
}

/* Quick Menu */
.qUser {
	width: 100%;
	height: 89px;
	background: url("../images/blue/bg_quickMenu_userInfo.gif") no-repeat;
	position: relative;
}
.qUser p {
	color: #4a4a4a;
	text-align: center;
	padding-top: 25px;
	margin-bottom: 4px;
}
.qUser p.morethan8 {
	padding-left: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.qUser a {
	margin: 0px 0px 3px 6px;
	display: block;
}
.qBanners {
	position: relative;
}
.qBanners li {
	position: relative;
}
.qBanners a {
	display: block;
}

/* Quick Link Layer Popups*/
.qLayerpop {
	position: absolute;
	top: 0px;
	left: 60px;
}
.qPopupTop {
	width: 225px;
	height: 16px;
	background: url("../images/bg_layerpop_tm.gif") repeat-x;
	position: relative; 
}
.qPopupTop.w357 {
	width: 357px;
}
.qPopupTop.w219 {
	width: 219px;
}
.qPopupTop.w87 {
	width: 87px;
}
.qPopupTop.w126 {
	width: 126px;
}
.qPopupLeft {
	width: 7px;
	height: 100%;
	background: url("../images/bg_layerpop_tl.gif") no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
}
.qPopupTop a {
	width: 19px;
	height: 100%;
	background: url("../images/btn_layerpop_tr.gif") no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}
.qPopupLink {
	padding: 7px 0px;
	height: 311px;
	overflow-y: auto;
	background: #565656 url("../images/bg_layerpop_bl.gif") no-repeat left bottom;
}
.qPopupLink a {
	text-indent: 0px;
	color: #fff;
	width: 175px;
	font-size: 13px;
	line-height: 26px;
	height: 26px;
	margin-left: 7px;
	padding-left: 10px;
}
.qPopupLink a.on, .qPopupLink a:hover {
	background: url("../images/bg_layerpop_on.gif") repeat-x left center;
	color: #353535;
}
.qPopupSearch {
	padding: 14px 0px 0px 15px;
	height: 46px;
	background: #565656 url("../images/bg_layerpop_bl.gif") no-repeat left bottom;
}
.qPopupSearch form {
	background: url("../images/bg_layerpop_br.gif") no-repeat right bottom;
}
.qPopupSearch div {
	border: 3px solid #d1d1d1;
	width: 237px;
	height: 22px;
	float: left;
	margin-right: 5px;
	position: relative;
}
.qPopupSearch div input {
	padding: 4px 4px 4px 10px;
	width: 195px;
	background: transparent;
	border: none;
	color: #fff;
}
.qPopupSearch div a {
	width: 29px;
	height: 22px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url("../images/icon/ico_layerpop_prev.gif") no-repeat;
}
.qPopupSearch button {
	width: 79px;
	height: 28px;
	background: url("../images/btn_layerpop_search.gif") no-repeat;
}


/* Left Menu */
#leftMenuBlock {
	padding-left: 5px;
	width: 184px;
	min-height: 32px;
	background-color: #676767;
}
.leftMenu a {
	display: block;
}
.leftBg.closed {
	background: url("../images/bg_left_closed.gif") no-repeat;
	width: 20px;
	height: 567px;
}
.leftTop {
	height: 16px;
	width: 20px;
	background: url("../images/icon/ico_left_open.png") no-repeat 0px 0px;
}
.leftTop.close {
	width: 189px;
	background: url("../images/icon/ico_left.png") no-repeat 0px 0px;
}
.leftSystemInfo {
	width: 100%;
	height: 400px;
	background: #676767 url("../images/bg_left_title.gif") no-repeat 6px 6px;
	position: relative;
}
.leftSysname {
	font-weight:bold; 
	color:#747474;
	/* color: #afafaf; */
	font-size: 11px;
	padding: 18px 0px 0px 18px;
	letter-spacing:-1px;
}
.leftSysname p {
	width:157px;
	height:17px;
	font-size:12px;
	font-weight:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.leftSysname p span {
	font-weight:bold;
	font-size:12px;
}
.leftSystemInfo .leftLinks {
	margin-top:59px; 
	font-size:14px;
	color:#0065cc;
	font-weight:bold;   
}
.leftSystemInfo .leftLinks ul li {
	margin-bottom:60px;
}
.leftSystemInfo .leftLinks ul li p{
		position: absolute;
		font-size:11px;
		font-weight:bold;
		text-align:center;
		color:#565656;
		width:190px;
}
.leftSystemInfo .leftLinks ul li div{
		position: absolute;
		font-size:13px;
		font-weight:bold;
		text-align:center;
		color:#929292;
		left:15px;
}
.leftSystemInfo .leftLinks ul li p span{
	display:block;
	font-size:14px;
	color:#0065cc;
	padding-top:2px;
}
.leftSystemInfo .leftLinks ul li p span a {
	color:#0065cc;
}
.leftSystemInfo .leftLinks ul li div.dashboard-title1{
	top:66px;
}
.leftSystemInfo .leftLinks ul li div.dashboard-title2{
	top:144px;
}
.leftSystemInfo .leftLinks ul li div.dashboard-title3{
	top:221px;
}
.leftSystemInfo .leftLinks ul li div.dashboard-title4{
	top:301px;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt1{
	top:90px;
	left:0;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt2{
	top:168px;
	left:0;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt3{
	top:244px;
	left:0;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt4{
	top:323px;
	left:0;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt5{
	top:229px;
	left:32px;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt6{
	top:229px;
	left:112px;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt7{
	top:310px;
	left:32px;
}
.leftSystemInfo .leftLinks ul li p.dashboard-txt8{
	top:310px;
	left:112px;
}
.leftSystemInfo3 .leftLinks2 {
	padding:18px 0 0 13px;
}
.leftSystemInfo3 .leftLinks2 li p {
	width:157px;
	color:#747474;
	font-size:12px;
	height:15px;
	font-weight:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.leftSystemInfo3 .leftLinks2 li p span {
	font-weight:bold;
}
.leftSystemInfo2 {
	width: 100%;
	height: 471px;
	background: #676767 url("../images/bg_left_title2.png") no-repeat 6px 6px;
	position: relative;
}

.leftSystemInfo2 .leftLinks {
	font-size:14px;
	color:#0065cc;
	font-weight:bold;   
}
.leftSystemInfo2 .leftLinks ul li div{
		position: absolute;
		font-size:13px;
		font-weight:bold;
		text-align:center;
		color:#929292;
		left:15px;
}
.leftSystemInfo2 .leftLinks ul li p{
		position: absolute;
		font-size:11px;
		font-weight:bold;
		text-align:center;
		color:#565656;
}
.leftSystemInfo2 .leftLinks ul li p span{
	display:block;
	font-size:14px;
	color:#0065cc;
	padding-top:2px;
}
.leftSystemInfo2 .leftLinks ul li p span a {
	color:#0065cc;
}
.leftSystemInfo2 .leftLinks ul li div.dashboard-title1{
	top:51px;
	color:#0454a6;
}
.leftSystemInfo2 .leftLinks ul li div.dashboard-title2{
	top:147px;
}
.leftSystemInfo2 .leftLinks ul li div.dashboard-title3{
	top:225px;
}
.leftSystemInfo2 .leftLinks ul li div.dashboard-title4{
	top:301px;
}
.leftSystemInfo2 .leftLinks ul li div.dashboard-title5{
	top:382px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt1{
	top:75px;
	left:32px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt2{
	top:75px;
	left:112px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt3{
	top:172px;
	left:32px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt4{
	top:172px;
	left:112px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt5{
	top:250px;
	left:32px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt6{
	top:250px;
	left:112px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt7{
	top:325px;
	left:32px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt8{
	top:325px;
	left:112px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt9{
	top:405px;
	left:32px;
}
.leftSystemInfo2 .leftLinks ul li p.dashboard-txt10{
	top:405px;
	left:112px;
}

.leftSystemInfo ul li img {
	margin:0 0 2px 65px;
}

.leftSystemInfo ul.leftType {
	position: absolute;
	bottom: 16px;
	right: 13px;
}
.leftSystemInfo ul.leftType li {
	float: left;
	margin: 0px;
}
.leftSystemInfo ul.leftType li a {
	width: 21px;
	height: 21px;
}
.leftSystemInfo ul.leftType li a.list {
	background: url("../images/icon/ico_left_type.gif") no-repeat left top;
}
.leftSystemInfo ul.leftType li a.tree {
	background: url("../images/icon/ico_left_type.gif") no-repeat right top;
}
.leftSystemInfo ul.leftType li a.list.on {
	background: url("../images/icon/ico_left_type.gif") no-repeat left bottom;
}
.leftSystemInfo ul.leftType li a.tree.on {
	background: url("../images/icon/ico_left_type.gif") no-repeat right bottom;
}

.leftSystemInfo3 {
	width: 100%;
	height: 100px;
	background: #676767 url("../images/bg_left_title3.gif") no-repeat 6px 6px;
	position: relative;
}
.leftSystemInfo3 ul.leftLinks {
	position: absolute;
	bottom: 16px;
	left: 14px;
}
.leftSysname3 {
	color: #0065cc;
	font-size: 17px;
	font-weight: bold;
	padding: 18px 0px 0px 18px;
}
.leftSystemInfo3 ul li {
	float: left;
	margin:0 0 0 5px;
}
.leftSystemInfo3 ul li a {
	/* color: #838383; */
	font-size: 11px;
	font-weight:bold; 
	color:#747474;
	letter-spacing: -1px;
}
.leftSystemInfo3 ul li img {
	margin:0 0 2px 65px;
}

.leftUnderBanner2 {
	margin-top: 9px;
}
.leftUnderBanner2 li {
	margin-bottom: 6px;
}
.leftBottom {
	width: 100%;
	height: 8px;
	background: url("../images/bg_left_bottom.gif") no-repeat;
}
.leftUnderBanner {
	margin-top: 9px;
}


/* Slide Menu */
.slideMenu li {
	display: block;
}
.slideMenu .leftDepth1 {
	padding-left: 13px;
	width: 166px;
	height: 31px;
	background: url("../images/bg_left_menu1.gif") no-repeat;
	color: #555;
	font-weight: bold;
	line-height: 31px;
}
.slideMenu .leftDepth1.first {
	height: 32px;
	background: url("../images/bg_left_menu1_first.gif") no-repeat;
}

.slideMenu .leftDepth1 span {
	color: #0065cc;
	display: block;
}
.slideMenu .leftDepth1:hover {
	color: #0065cc;
}
.slideMenu .leftDepth1 span.on {
	background: url("../images/bu_left_menu1.png") no-repeat 143px 11px;
	color: #0065cc;
}

.slideMenu .leftDepth2 {
	width: 177px;
	height: 32px;
	color: #484848;
	background: #c5c5c5;
	border-left: 1px solid #5a5a5a;
	border-right: 1px solid #5a5a5a;
}
.slideMenu .leftDepth2 span {
	padding-left: 28px;
	width: 149px;
	height: 32px;
	line-height: 32px;
	display: block;
}
 
.slideMenu .leftDepth2:hover {
	color: #0065cc;	
}
.leftDepth2 span.on {
	color: #ffffff;
	background: #0065cc;
}

/* Tree Menu */
#leftMenuBlock.treeMenu {
	height: 370px;
	overflow: auto;
}
.leftBg {
	background: #676767;
	width: 100%;
	min-height: 129px;
}
.treeMenu {
	background: #676767 url("../images/bg_tree.gif") no-repeat;
	padding-top: 5px;
	padding-bottom: 10px;
}
.treeMenu li {
	position: relative;
	background: url("../images/bu_tree.gif") no-repeat 9px top;
	padding: 0 0 0 20px;
	font-size: 13px;
	line-height: 20px;
}
.treeMenu li a.control {
	display: block;
	height: 13px;
	left: 0px;
	padding: 3px;
	position: absolute;
	top: 0px;
	width: 13px;
}
.treeMenu .leftDepth1, .treeMenu .leftDepth2, .treeMenu .leftDepth3 {
	color: #444;
}
.treeMenu .leftDepth1:hover {
	color: #0065cc;
}
.treeMenu .leftDepth1.on span {
	color: #0065cc;
	font-weight: bold;
}
.treeMenu .leftDepth2:hover, .treeMenu .leftDepth2.on span {
	color: #0065cc ;
}
.treeMenu .leftDepth2.on span {
	font-weight: bold;
}
.treeMenu .leftDepth3:hover, .treeMenu .leftDepth3.on span {
	font-weight: bold;
}
.treeMenu li.end {
	background: url("../images/icon/ico_tree.gif") no-repeat 9px top;
}
.treeConArea {
	border-top: 2px solid #676767;
	height:40px;
	background: #676767 url("../images/bg_tree.gif") no-repeat left bottom;
	position:relative;
}
.treeCon {
	width:77px;
	height:25px;
	line-height:24px;
	background:url(../images/icon/ico_treeCon.gif) no-repeat left top;
	position:absolute;
	padding:0 0 0 43px;
	left:32px;
	top:8px;
}

/* Component Elements
 ---------------------------------------------------------*/

/* Login */
.loginBox {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 704px;
	height: 321px;
	margin: -160px 0 0 -352px;
	background: #ffffff;
}

.loginFooter {
	position: relative;
	height: 45px;
	width: 702px;
	background: #f1f1f1;
	border: 1px solid #d9d9d9;
	border-top: none;
}
.loginFooter h1 {
	font-size: 11px;
	color: #888888;
	position: absolute;
	top: 15px;
	left: 25px;
}
.loginFooter h1 span {
	margin: 0 10px 0 7px;
	font-weight: 100;
}
.loginFooter img {
	position: absolute;
	right: 27px;
	top: 15px;
}

/* Title */
.title {
	width:953px;
	height: 30px;
	border-bottom: 2px solid #666;
	margin: 0 0 24px 0;
	line-height: 21px;
	position: relative;
}
.title h1 {
	font-family: 'Malgun Gothic','맑은고딕', Dotum, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #474747;
}
.titleRight {
	position: absolute;
	top: 0px;
	right: 0px;
}
.titleRight ul, .titleRight li {
	display: inline;
	float: left;
}
.titleRight li span {
	margin-left: 4px;
	background: url("../images/bu_pageLocation.gif") no-repeat right 72%;
}
.titleRight li.lastLocation span {
	margin-right: 1px;
	background: none;
}
.titleRight li span a {
	padding-right: 10px;
	font-size: 11px;
	font-weight: 100;
	color: #909090;
}
.titleRight li.lastLocation span a {
	color: #0065cc;
	padding-right: 0;
}

/* Subtitle */
.subtitle {
	margin: 0 10px 5px 2px;
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	width: auto;
}
.subtitle.withButtons {
	margin: 9px 10px 5px 2px;
	float: left;
}
/* Subsubtitle */
.subsubtitle {
	display: inline-block;
	margin: 0 10px 5px 2px;
	font-weight: bold;
	font-size: 12px;
}

/* Inquiry Table */
.tableInquiry {
	width: 923px; 
	border: 1px solid #e0e0e0;
	background: #f4f3f3;
	padding: 15px 13px 12px 13px;
	margin: 0 0 30px 0;
	position: relative; 
}
.tableInquiry .btnSpread {
	position: absolute;
	left: 50%;
	top: 100%;
	margin: 0 0 0 -33px;
}
.tableInquiry table {
	text-align:left;
	width: 97%;
}
.tableInquiry2 {
	border: 1px solid #e0e0e0;
	background: #f4f3f3;
	padding: 13px;
	margin: 0 10px 30px 0;
	position: relative; 
}
.tableInquiry2 table {
	text-align:center;
	width: 84%;
}
.tableInquiry2 table th {
	font-size:12px;
}
.tableInquiry2 table input {
	height: 21px;
	padding: 5px 2px 4px 2px;
	width: 130px;	
	margin-bottom:5px;
}
.tableInquiry2 table select {
	height: 21px;
	padding: 5px 2px 4px 2px;
	width: 25%;
	margin-bottom:4px;
}



.tableInquiry3 .tableInquiry3_tb1 {
	text-align:left;
	width:530px;
}
.tableInquiry3 .tableInquiry3_tb1 th {
	font-size:12px;
	text-align:left;
	padding:7px 5px;
}
.tableInquiry3 .tableInquiry3_tb1 td {
	font-size:12px;
	color:#717171;
}
.tableInquiry3 .tableInquiry3_tb2 {
	font-size:12px;
	width:440px;
	background-color:#e8e8e8;
}
.tableInquiry3 .tableInquiry3_tb2 th {
	font-size:12px;
	text-align:left;
	padding:7px 5px;
}
.tableInquiry.oneInquiry {
}
.tableInquiry.oneInquiry table {
	width: auto;
	float: left;
}
.tableInquiry.oneInquiry table input {
	width: 98%;
}
.tableInquiry.oneInquiry .tableBtnSearch {
	float: left;
}
.tableInquiry.oneInquiry .tableBtnSearch button {
	bottom: auto;
	right: auto; 
}
.tableInquiry table tr {
	height: 33px;
}
.tableInquiry table th {
	padding-right: 5px;
	text-align: right;
	font-weight: normal;
}
.tableInquiry table td {
	text-align: left;
	padding-right: 5px;
}
.tableInquiry table input[type="text"] {
	height: 12px;
	padding: 5px 2px 4px;
}
.tableInquiry table td.tdDate img {
    vertical-align:middle;
 }
.tableInquiry table td.tdDate input {
	width: 58px;
}
.tableInquiry table select {
	height: 23px;
	padding:3px;
	width:178px;
}
.textPink {
	color: #cd0040;
	float: none;
	margin: 0 2px 0 0; 
}
.tableBtnSearch button {
	width: 74px;
	height: 29px;
	background: url("../images/blue/btn_search.gif") no-repeat;
	position: absolute;
	bottom: 19px;
	right: 45px;
}
.tableBtnSearch button span {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	padding-left: 14px;
}
.tableBtnSearch2 {
	display:inline; 
	margin-left:10px; 
	width:77px;
}
.tableBtnSearch2 button {
	width: 74px; 
	height: 29px; 
	background: url("../images/blue/btn_search.gif") no-repeat;
}
.tableBtnSearch2 button span {
	font-size:13px; 
	color:#fff; 
	font-weight:bold; 
	padding-left:14px;
}
.tableBtnSearch3 {
	display:inline; 
	margin-left:2px; 
	width:77px;
}
.tableBtnSearch3 button {
	width: 74px; 
	height: 29px; 
	background: url("../images/blue/btn_search.gif") no-repeat;
}
.tableBtnSearch3 button span {
	font-size:13px; 
	color:#fff; 
	font-weight:bold; 
	padding-left:14px;
}
.iconCalendar {
	margin-left: 3px;
	margin-top: -3px;
	display: inline-block;
}

/* List */
.listArea {
	position: relative;
	width: 953px;
}
.listArea.subsub {
	position: relative;
	min-width: 953px;
	margin: 0 15px 30px;
}
.listArea .listTop .listTop_inner {
	display: inline-block;
	padding-top:3px; float:left;
}
.listArea .listTop .listCnt span {
	margin-right: 2px;
	font-weight: bold;
}
.listArea .listTop {
	position: relative;
	height: 30px; 
	clear: both;
}
.listArea .listTop .listCnt {
	position: absolute;
	margin-right: 8px;
	margin-left: 2px;
}
.listArea .listTop select {
	position: absolute;
	left: 75px;
	border: 1px solid #b8b8b8;
	height: 21px;
	width: 57px;
}
.listTable {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 16px;
}
.listTable th {
	height: 31px;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #dddddd;	
}
.listTable td {
	height: 27px;
	text-align: center;
	border-right: 1px solid #dddddd;
}
.listTable.borderBottom td {
	border-bottom: 1px solid #cdcdcd;
}
.listTable .fixCol {
	border-right: 1px solid #9b9b9b;
}
.listTable .thAlignLeft {
	text-align: left;
}
.listTable .thAlignLeft span {
	margin-left: 32px;
}
.listTable tbody tr:hover {
	background: #e1e1e1;
}
.listTable label {
	display:none;
}
.listTable td input {
	padding: 0 3px;
}
.listTable input[type="text"], .listTable select {
	width: 90%;
	height: 21px;
	line-height: 21px;
}
.listTable .tdBorder {
	border-right: none;
}
.listTable input.ultraGrid {
	color: #000ccc;
}
.listTable .oddRow {
	height: 27px;
	background-color: #f5f5f5;
}
.listTable .lastCol {
	border-right: none;
}
.listTable .tdAlignLeft {
	text-align: left;
}
.listTable .listLink {
	text-decoration: underline;
	color: #a21c39;
}
.listTable .listLink a {
	color: #a21c39;
	margin-left: 10px;
}
.listArea .paging {
	position: absolute;
	margin: 0px auto 0px -160px;
	width: 320px;
	left: 50%;
}
.listArea .paging li {
	display: inline;
}
.listArea .paging .pageNum {
	padding: 0 9px 0 6px;
	border-right: 1px solid #dadada;
}
.listArea .paging .pageNum a {
	color: #717171;
}
.listArea .paging .current a {
	color: #c80b33;
	font-weight: bold;
}
.listArea .paging .lastPage {
	border-right: none;
}
/* Table */
.table {
	border-top: 2px solid #0065cc;
}
.tableArea {
	position: relative;
	min-width: 953px;
	padding: 0 0 30px 0;
}
.tableArea.subsub {
	position: relative;
	min-width: 953px;
	margin: 0 15px 30px;
}
.tableArea.subsub .table {
	border-top: 1px solid #0065cc;
}
.tableGeneral {
	border-collapse: collapse;
	width: 100%;
}
.tableLeft, .tableRight {
	min-width: 300px;
}
.tableBottom {
	margin-top: 18px;
}
.tableGeneral th {
	height: 26px;
	text-align: right;
	padding-top:4px;
	padding-right: 10px;
	background: #f5f5f5;
	border-bottom: 1px solid #dddddd;
}
.tableGeneral td {
	vertical-align:middle;
	padding: 4px 7px 1px 7px;
	border-bottom: 1px solid #dddddd;
}
.tableGeneral input {
	margin-bottom:3px;
}
.tableGeneral input[type="text"], .tableGeneral select {
	height:21px;
	line-height: 21px;
}
.tableGeneral textarea {
	width: 99%;
}
.tableGeneral td textarea {
	font-size: 12px;
	padding: 3px 3px;	
	margin-bottom:3px;	
}
.tableGeneral td input.fixedWidth {
	width: 119px;
	height: 21px;
	padding: 0 3px;
	/* margin-right: 4px; */
}
.tableGeneral td select.fixedWidth {
	width: 110px;
	height: 21px;
	padding: 0px 0px 0px 3px;
	margin-right: 4px;
	display: inline-block; 
}
.tableGeneral td select option {
	padding: 0px 0px 0px 5px;
}
.tableGeneral td input {
	height: 21px;
	padding: 0 3px;
}
.tableGeneral td input.floatLeft, .tableGeneral td .floatLeft {
	margin: 2px 0px 0px 0px;
	float: left;
}
.tableGeneral td.tdDate input {
	width: 68px;
	height: 21px;
	display: inline-block;
}
img.ui-datepicker-trigger {
	margin-left: 4px;
	display: inline-block;
	cursor:pointer;
}
.tableGeneral td label {
	margin: 0 5px 0 4px;
}
.tableGeneral .th02 {
	border-left: 1px solid #dddddd;
}
.tableGeneral .tdPhone {
	position: relative;
	top: 2px;
}
.tableGeneral .chkbx {
	position: relative;
	top: 1px;
	margin: 0 2px 0 2px;
}
.tableGeneral .innerTable {
	border: 1px solid #c3c3c3;
	margin: 9px 0;
}
.tableGeneral .innerTable table {
	width: 100%;
}
.tableGeneral .innerTable th, .tableGeneral .innerTable td {
	text-align: center;
	padding:0;
}
.tableGeneral .innerTable td {
	border-right: 1px solid #dddddd;
	height: 29px;
}
.tableGeneral .innerTable td.noRtBorder {
	border-right: none;
}
.tableArea .tableGeneral .chkbx {
	top: 2px;
}
.tableGeneral .noRtBorder {
	border-right: none
}
.tableGeneral .noBtBorder {
	border-bottom: none;
}
.tableGeneral .reqInput1 {
	width:120px;
	vertical-align:middle;
}
.tableGeneral .reqInput2 {
	width:99%
}
.tableGeneral .reqInput3 {
	margin-bottom:4px;
	vertical-align:middle;
}
.tableGeneral .reqInput4 {
	margin-bottom:3px;
	vertical-align:middle;
	margin-left:3px;
}
.tableGeneral .reqInput5 {
	vertical-align:middle;
	margin-left:3px;
}
.tableGeneral .reqInput6 {
	padding:5px 1px 5px 4px;
}
.tableGeneral .inquiryBtn {
	margin-bottom:3px;
}
.tableGeneral td input {
	vertical-align:middle;
}
.tdDate img {
	cursor:hand;
	margin-bottom:9px;
	margin-left:3px;
}


/* Buttons */
.buttonArea {
	text-align: right;
	margin-bottom: 6px;
}
.buttonArea_blank {
	height:26px;
	text-align: right;
	margin-bottom: 6px;
}
.buttonArea .fixCol .buttonArea_blank{
	position: relative;
	width: 32px;
	height: 21px;
	border: 1px solid #b8b8b8;
	margin-right: -5px;
	line-height: 21px;
}
:root .buttonArea .fixCol {
}
.buttonArea ul {
	display: inline;
}
.buttonArea_blank ul{
	display: inline;
}
.buttonArea li {
	display: inline;
}
.buttonArea img {
	padding-bottom: 1px;
}
.btn_crud li.mr5 {
	margin-right: 5px;
}
.btn_crud a, .btn_crud a span{
	display: inline-block;
	position: relative;
	margin-right: 6px; 
	background: url(../images/btn_crud_normal.gif) no-repeat left top;
}
.btn_crud a span {
	font: 12px/1.5em dotum, '돋움', Arial, Helvetica, sans-serif;
	color: #222;
	left: 8px;
	line-height: 26px;
	padding: 1px 15px 0 8px;
	background-position: right top;
}
.btn_crud a span:hover {
	color: #0065cc;
}
.btn_crud a.darken, .btn_crud a.darken span {
	background: url(../images/btn_crud_darken.gif) no-repeat left top;
	color: #EBEBEB;
}
.btn_crud a.darken span {
	background-position: right top;
}
.btn_crud a.darken span:hover {
	color: #ffffff;
}
.btn_crud a.dimmed, .btn_crud a.dimmed span {
	background: url(../images/btn_crud_dimmed.gif) no-repeat left top;
	color: #b4b4b4;
	cursor: default;
}
.btn_crud a.dimmed span {
	background-position: right top;
}
.btn_mdl a, .btn_mdl a span {
	background: url(../images/btn_mdl_normal.gif) no-repeat left top;
	display: inline-block;
	overflow: visible;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	margin-right: 4px;
}
.btn_mdl a span { 
	background-position: right top;
	color: #6e6e6e;
	left: 8px;
	line-height: 24px;
	padding: 0 11px 0 2px;
}
.btn_mdl a span:hover {
	color: #000;
}
.btn_mdl a.darken, .btn_mdl a.darken span {
	background: url(../images/btn_mdl_darken.gif) no-repeat left top;
}
.btn_mdl a.darken span {
	background-position: right top;
	color: #ffffff;
}
.btn_mdl a.darken span:hover {
	background-position: right top;
	color: #000;
}
.btn_mdl a.dimmed, .btn_mdl a.dimmed span {
	background: url(../images/btn_mdl_dimmed.gif) no-repeat left top;
	cursor: default;
}
.btn_mdl a.dimmed span {
	background-position: right top;
	color: #b4b4b4;
}
.btn_mdl a img {
	margin-right: -4px;
}
.inlineBtn, .inlineBtn span {
	display: inline-block;
	position: relative;
	margin-right: 4px;
	color: #777777;
	background: url(../images/btn_inline.gif) no-repeat left center; 
}
.inlineBtn span {
	left: 8px;
	line-height: 23px;
	padding: 0 15px 0 8px;
	background-position: right center;
}
.inlineBtn.dimmed, .inlineBtn.dimmed span {
	background: url(../images/btn_inline_dimmed.gif) no-repeat left top;
	cursor: default;
}
.inlineBtn.dimmed span {
	background-position: right top;
	color: #b4b4b4;
}
img.inquiryBtn {
	margin-left: -1px;
}

/* Tab */
.tabArea {
	min-width: 953px;
	margin: 0 0 30px 0; /*k*/display:inline;
}
.tabArea ul.tab {
	padding: 0;
	height: 31px;
	border-bottom: 1px solid #0065cc;
	margin: 0 0 20px 0;
}
.tabArea ul.tab li {
	list-style-type: none;
	height: 31px;
	float: left;
	margin: 0 3px 0 0;
}
.tabArea ul.tab li a {
	outline: none;
	background: url(../images/bg_tab.gif) repeat-x left bottom;
	border: 1px solid #c7c7c7;
	border-bottom: none;
	display: block;
	color: #a3a3a3;
	line-height: 30px;
	text-align: center;
	padding: 0 15px;
	font-weight: bold;
}
.tabArea ul.tab li a.selected {
	background: #fff;
	border: 1px solid #0065cc;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	color: #bb1f40;
	font-weight: bold;
	cursor: default;
}
.tabUnder {
	min-width: 953px;
}
.tabUnder .floatLeft {
	border-top: none;
	width: 45%;
	float: left;
}
.tabUnder .floatLeft .listTable {
	margin-bottom: 0;
}
.tabUnder .floatRight {
	border: 1px solid #dddddd;
	width: 45%;
	float: left;
	margin-left: 40px;
}

/* Shuttle */
.shuttleArea {
	min-width: 953px;
	margin: 0 0 30px 0;
}
.tabInside {
	display: block;
}
.tabInside li {
	float: left;
}
.tabInside li {
	border: 1px solid #d1d1d1;
	border-bottom: none;
	background: #fff;
}
.tabInside li a {
	padding: 5px 22px;
	color: #888888;
	font-weight: normal;
	letter-spacing: -1px;
	float: left;
}
.tabInside li.on {
	border: 1px solid #969696;
	border-bottom: none;
	background: #bbbbbb;
}

.tabInside li.on a {
	color: #fff;
}

.shuttleLeft {
	width: 44%;
	height: 195px;
	border: 1px solid #c3c3c3;
	overflow-y: auto;
	float: left;
}
.shuttleLeft.tab {
	border-top: 2px solid #969696;
}
.shuttleBtnArea {
	width: 10%;
	height: 197px;
	position: relative;
	float: left;
}
.shuttleBtnArea ul {
	width: 100%;
	padding-top: 35px;
}
.shuttleBtnArea ul li {
	width: 55px;
	height: 25px;
	margin: 0px auto 3px auto;
}
.shuttleBtnArea ul li.sCenter {
	margin: 0px auto 10px auto;
}
.shuttleBtnArea ul li a {
	width: 55px;
	height: 25px;
	display: block;
}

.shuttleRight {
	width: 44%;
	height: 195px;
	border: 1px solid #c3c3c3;
	float: left;
	overflow-y: auto;
}
.shuttleTop {
	width: 98%;
	height: 195px;
	border: 1px solid #c3c3c3;
	overflow-y: auto;
}
.shuttleTop.tab {
	border-top: 2px solid #969696;
}
.shuttleBottom {
	width: 98%;
	height: 195px;
	border: 1px solid #c3c3c3;
	overflow-y: auto;
}
.shuttleBtnArea2 {
	width: 100%;
	height: 50px;
	position: relative;
}
.shuttleBtnArea2 ul {
	position: absolute;
	left: 50%; 
	top:5%;
	margin: 13px 0 0 -60px;
}
.shuttleBtnArea2 ul li {
	width: 55px;
	height: 25px;
	margin: 0px auto 2px auto;
	display: inline-block;
	float: left;
}
.shuttleBtnArea2 ul li.sCenter {
	margin: 0px auto 9px auto;
}
.shuttleBtnArea2 ul li a {
	width: 55px;
	height: 25px;
	display: block;
}

.tableShuttle {
	width: 794px;
	float: left;
	margin-bottom:8px;
	overflow-y: auto;
}
.tableShuttle table {
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	width: 100%;
}

.tableShuttle input[type="text"], .tableShuttle select {
	width: 82%;
}
.tableShuttle table th {
	font-weight:normal;
	text-align:center;
	border-top: none;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #f5f5f5;
}
.tableShuttle table th.noleftBorder {
	border-left: none;
}
.tableShuttle table th.noRightBorder {
	border-right: none;
}
.tableShuttle table td {
	text-align: center;
	border: 1px solid #dddddd;
}
.tableShuttle table td.noleftBorder {
	border-left: none;
}
.tableShuttle table td.noRightBorder {
	border-right: none;
}
.tableShuttle table td.noBtBorder {
	border-bottom: none;
}
.shuttleTree {
	padding: 10px;
}
.shuttleTree li {
	position: relative;
	background: url("../images/bu_tree.gif") no-repeat 9px top;
	padding: 0 0 0 20px;
	font-size: 13px;
	line-height: 20px;
}
.shuttleTree li a.control {
	display: block;
	height: 13px;
	left: 0px;
	padding: 3px;
	position: absolute;
	top: 0px;
	width: 13px;
}
.shuttleTree .leftDepth1 span:hover {
	color: #bb1f40;
}
.shuttleTree .leftDepth1 span.on {
	color: #bb1f40;
	font-weight: bold;
}
.shuttleTree .leftDepth2:hover, .shuttleTree .leftDepth2 span.on {
	color: #bb1f40;
}
.shuttleTree .leftDepth2 span.on {
	font-weight: bold;
}
.shuttleTree .leftDepth3:hover, .shuttleTree .leftDepth3 span.on {
	font-weight: bold;
}
.shuttleTree li.end {
	background: url("../images/icon/ico_tree.gif") no-repeat 9px top;
}

/* Attach File */
.attachFileArea {
	min-width: 953px;
	margin: 0 0 30px 0px;
	border-top: 2px solid #969696;
}
.tableAttach {
	width: 100%;
	position: relative;
}
.tableAttach tr {
	height: 59px;
	border-bottom: 1px solid #dddddd;
}
.tableAttach th {
	width: 159px;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #f5f5f5;
}
.tableAttach td {
	padding: 7px 0 7px 8px;
	border-color: #dddddd;
	border-style: none none solid;
	border-width: 1px;
	word-break: break-all;
}
.tableAttach img {
	float: left;
}
.attachFileArea .attachFunc {
	position: absolute;
	top: 77px;
	right: 9px;
	float: none; 
}
.attachFileArea div.attachFunc ul.fileAddDel {
	top: 10px;
	right: 9px;
}
.attachFileArea div.attachFunc ul.fileAddDel li {
	margin-bottom: 4px; 
}
.attachFileArea div.attachFunc ul.fileAddDel.btn_mdl span {
	padding: 0 14px 0 6px;
}
.attachFileArea div.attachFunc ul.fileOrder {
	top: 74px;
	right: 31px;
}
.attachFileArea div.attachFunc ul.fileOrder li {
	display: inline;
}
.attachFileArea div.attachFunc ul.fileOrder.btn_mdl span {
	padding: 0 7px 0 0px;
}

/* Replies */
.replyArea {
	min-width: 953px;
	margin: 0 0 30px 0;
	height: 231px;
}
.replyArea h1 {
	font-size: 12px;
	margin-bottom: 7px;
}
.replyArea .rplCnt {
	font-weight: bold;
	margin: 0 5px 0 5px;
	color: #0065cc;
}
.replyArea span {
	font-weight: 100;
}
.replyWrite {
	width: 100%;
	height: 76px;
	margin-bottom: 6px;
	border-collapse: collapse;
	border-top: 2px solid #969696;
}
.replyWrite tr {
	border-bottom: 1px solid #dddddd;
}
.replyWrite th {
	width: 159px;
	height: 76px;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #dddddd;
	background: #f5f5f5;
}
.replyWrite td {
	padding-left: 8px;
}
.replyWrite textarea {
	float: left;
	width: 86%;
	height: 58px;
	font-size: 12px;
	border: 1px solid #c3c3c3;
	resize: none;
	padding: 3px;
}
.replyWrite .writeBtn {
	float: right;
}
.replyWrite .writeBtn a {
	background: #f7f7f7;
}
.replyWrite .writeBtn a span {
	background-position: right top;
	color: #5d5d5d;
}
.replyList {
	padding: 0 14px;
	border: 1px solid #dddddd;
}
.replyList li {
	position: relative;
	padding: 9px 0 25px 0;
	border-bottom: 1px dashed #d7d7d7;
}
.replyList li.replyLast {
	border: none;
}
.replyList li .writerDept {
	position: absolute;
	right: 177px;
	color: #888888;
}
.replyList li .writerInfo {
	position: absolute;
	right: 98px;
	color: #333333;
}
.replyList li .writeTime {
	position: absolute;
	right: 0;
	color: #888888;
}
.replyArea table {
	width: 100%;
}
.replyArea table th {
	border-color: #dddddd;
	border-style: none solid solid none;
	border-width: 1px;
}
.replyArea table td {
	border-color: #dddddd;
	border-style: none none solid;
	border-width: 1px;
	word-break: break-all;
}
.replyArea table td div.writeBtn {
	float: right;
	position: relative;
	top: 20px;
	right: 30px;
}
.replyArea .writeBtn .btn_mdl, .replyArea .writeBtn .btn_mdl span {
	background: url(../images/btn_mdl_large.gif) no-repeat left top;
}
.replyArea .writeBtn.btn_mdl span {
	background-position: right top;
	line-height: 31px;
	padding: 0 24px 0 16px;
}

/* List Related */
.relatedPosts {
	min-width: 953px;
	margin: 0 0 30px 0px;
	height: 94px;
}


/* Comments */
.commentsInline {
	padding-left: 6px;
	display: inline-block;
	color: #888;
	font-weight: normal;
	line-height: 24px;
}
.commentsInline.pl10 {
	padding-left: 10px;
}

/* Alerts */
.alertSecurity {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 335px;
	height: 270px;
	margin: -165px 0 0 -170px;
	background: #ffffff;
	border: 1px solid #b4b4b4;
}
.alertSecurity .alertTop {
	width: 287px;
	padding: 0px 24px;
	height: 67px;
}
.alertSecurity .alertContent {
	width: 262px;
	padding: 24px 32px 10px 42px;
}
.alertSecurity .alertContent p {
	margin-bottom: 30px;
}
.alertSecurity .alertContent ul {
	text-align: center;
	margin: 0 0 20px 0; 
}
.alertSecurity .alertContent li {
	display: inline; 
}
.alertSecurity .alertContent p.reference {
	text-align: center;
	color: #888888;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.alertSecurity .alertContent p.reference span.bold {
	width: 94px;
	font-weight: bold;
	padding-right: 5px;
	margin-right: 7px;
	border-right: 1px solid #888;
	display: inline-block;
}

/* planner
 ---------------------------------------------------------*/
.planner {
	margin: 20px 0 20px 0;
	min-width: 953px;
}
.plTop {
	height: 25px;
	margin-bottom: 6px;
	position: relative;
}
.plTop ul {
	float: left;
}
.plTop ul li, .plTop ul li a {
	width: 43px;
	height: 21px;
	line-height: 21px;
	background: url("../images/bg_planner_tab.gif") repeat-x;
	float: left;
	text-align: center;
	color: #777777;
}
.plTop ul li a {
	border: 1px solid #bebebe;
}
.plTop ul li.on, .plTop ul li.on a {
	height: 21px;
	background: url("../images/bg_planner_tab_on.gif") repeat-x;
	color: #ffffff;
}
.plTop ul li.on a {
	border: 1px solid #555555;
}
.plTitle {
	position: absolute;
	left: 50%;
	margin-left: -88px;
	text-align: center;
}
.plTitle a {
	float: left;
}
.plTitle a.plToday {
	margin-left: 5px;
}
.plTitle span {
	width: 100px;
	height: 100%;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	color: #444444;
	float: left;
}
.plRight {
	position: absolute;
	top: 0px;
	right: 0px;
	vertical-align: middle;
}
.plRight span {
	text-align: right;
	margin-top: 4px;
}
.plRight input {
	border-top: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	width: 106px;
	height: 16px;
	line-height: 12px;
	margin-left: 8px;
	padding: 3px 7px 2px 7px;
}
.calendar {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dfdfdf;
	margin-bottom: 7px;
	position: relative;
}
.calendar th, .calendar td {
	color: #444444;
	font-weight: normal;
}
.calendar th p.cldrSun, .calendar td p.cldrSun {
	color: #dd0634;
}
.calendar th p.cldrSat, .calendar td p.cldrSat {
	color: #006ebb;
}
.calendar td p.cldrOthermonth {
	color: #bbb;
}
.calendar td p.cldrHoliday {
	color: #dd0634;
}
.calendar td p.cldrNowork {
	color: #999;
}
.calendar td p.cldrSchedule {
	color: #666;
	position: relative;
}
.calendar td p.cldrSchedule:hover {
	cursor: pointer;
}
.calendar td p.cldrIcon img {
	margin: 0 2px 4px 0;
}

.schdlMsg {
	position: absolute;
	margin-left: 8px;
	border: 1px solid #888888;
	background: #fff;
	padding: 5px 8px 5px 8px;
	z-index: 999;
}
.calendar td p.cldrEmphasis {
	color: #fe7200;
}
.cldrDates tr {
	height: 100px;
}
.cldrDates td {
	color: #666;
	width: 130px;
	vertical-align: top;
	padding: 7px 4px;
	border: 1px solid #dfdfdf; margin:0;
}
.cldrDates td p {
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cldrDates td.clToday {
	background: #dce9ef;
	border: 1px solid #abc5d4;
	z-index: 999;
}
.cldrDates td.clToday p {
	color: #054373;
	font-weight: bold;
}

/* MonthPicker */
.monthPicker {
	border: 2px solid #555555;
	width: 213px;
	height: 139px;
	position: relative;
}
.mWdgt {
	width: 100%;
	height: 24px;
	padding-top: 8px;
	background: #f9f9f9;
	border-bottom: 1px solid #b7b7b7;
	text-align: center;
}
.mWdgt p {
	font-weight: bold;
	position: absolute;
	left: 90px;
	top: 10px;
	height: 15px;
	line-height: 15px;
}
.monthPicker table td {
	width: 52px;
	height: 34px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e9e9e9; 
}
.monthPicker table td a {
	width: 50px;
	height: 23px;
	border: 1px solid #fff;
	padding-top: 9px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
.monthPicker table td.on a {
	background: #dce9ef;
	border: 1px solid #abc5d4;
	z-index: 9;
}
.monthPicker table td a:hover {
	background: #f1f1f1; 
	border: 1px solid #f1f1f1; 
	color: #e51455/*{fcHover}*/; 
}
.monthPicker table td.on a:hover {
	background: #dce9ef;
	border: 1px solid #abc5d4;
	color:#222;
}
/* Layer popup Elements
 ---------------------------------------------------------*/
.quickMenuFrame {
	position: relative;
	top: 0;
	left: 0;
	height: 430px;
}
.quickMenuFrame .qLayerpop {
	position: absolute;
	top: 0;
	left: 0;
}
.quickMenuFrame .qLayerpop.qLpop2 {
	left: 260px;
}
.quickMenuFrame .qLayerpop.qLpop3 {
	left: 260px;
	top: 125px;
}
.quickMenuFrame .qLayerpop.qLpop4 {
	left: 520px;
	top: 125px;
}
.quickMenuFrame .qLayerpop.qLpop5 {
	left: 520px;
	top: 225px;
}
.popFrame {
	position: relative;
	top: 0;
	left: 0;
	height: 250px;
	margin-bottom: 20px;
}
.popWindow {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 300px;
	border-top: 3px solid #0065cc;
}
.popLoad {
	position: absolute;
	top: 0;
	left: 350px;
	min-width: 248px;
	border-top: 3px solid #0065cc;
}
.popNext {
	left: 400px;
}
.popTop {
	padding: 13px;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
}
.popHeader {
	position: relative;
	height: 24px;
	border-bottom: 1px solid #969696;
}
.popHeader p {
	position: absolute;
	font-weight: bold;
}
.popHeader img {
	position: absolute;
	right: 0;
	top: 0;
}
.popCenter {
	padding: 17px 20px 29px 20px;
	text-align: center;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	border-bottom: 1px solid #B4B4B4;
}
.popCenter p {
	padding-bottom: 10px;
}
.popCenter p.bold {
	font-weight: bold;
}
.popCenter ul {
	padding-top: 16px;
}
.popCenter li {
	display: inline-block;
}
.popCenter div.code {
	width: 230px;
	padding: 13px;
	border: 1px solid #dddddd;
	background: #f5f5f5;
}
.popCenter .code p {
	text-align: left;
	font-weight: normal;
	padding-bottom: 0; padding-top:0;
	color: #555555;
	line-height: 16px;
}
.popCenter .code p span {
	padding-left: 60px;
}
.popLoad img {
	margin-top: 13px;
	margin-bottom: 11px;
}
.popLoad p {
	font-weight: normal;
	color: #666666;
}

/* Window popup Elements
 ---------------------------------------------------------*/
.winPop {
	position: relative;
}
.winPop .header {
	background: url(../images/blue/bg_winPopHeader.gif) repeat-x left bottom #f0f0f0;
	height: 22px;
	padding: 12px 0 12px 18px;
}
.winPop .header span {
	font-weight: bold;
	font-size: 14px;
}
.winPop .header img {
	position: absolute;
	top: 15px;
	right: 20px;
}

.winPop .content {
	padding-bottom: 15px;
	border-bottom: 1px solid #dbdbdb;
	width: 790px;
}
.winPop .content2 {
	padding-bottom: 15px;
	border-bottom: 1px solid #dbdbdb;
}
.winPop .content3 {
	padding-bottom: 15px;
	width: 790px;
}
.winPop .content3 .cpEmailInfoTxt {
	width:330px;
	color:#333333;
	margin:15px 0;
	background-color:#e9e9e9;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.winPop .body {
	padding:20px 20px 0 20px;
	background: #ffffff;
}
.winPop .content .subHeader {
	position: relative;
	height: 25px;
	border-bottom: 2px solid #666666; 
}
.winPop .content .subHeader span {
	font-weight: bold;
	font-size: 14px;
	color: #0065cc;
}
.winPop .subContent .listArea2 input {
	border:none;
	margin:0 1px 5px 0;
}
.winPop .content .listArea {
	margin: 0;
}
.winPop .body .close {
	position: relative;
	height: 26px;
	margin-top: 20px;
}
.winPop .body .close a {
	position: absolute;
	right: 0;
}
.winPop .body .close2 {
	width:790px;
	margin-left:647px; 
	display:inline-block;
	margin-top:15px;
	margin-bottom:20px;
}

.winPop .body .close2 li {
	display:inline;
}

.winPop .content .provision {
	width:900px;
}
.winPop .content .provision-txt {
	width:790px;
	border-bottom: 2px solid #666;
	padding-bottom:15px;
	line-height:16px;
}

.winPop .content .provision dl {
	width:790px;
	border-bottom: 2px solid #666;
	margin: 0 0 11px 0;
	padding:4px 0 7px 0;
}
.winPop .content .provision dl dt {
	font-weight:bold;
	font-size:13px;
	line-height:28px;
}
.winPop .content .provision dl dd textarea {
	width:770px;
	height:300px;
	background-color:#eaeaea;
	padding:30px 10px 0 10px;
	border-top:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	border-right:none;
	border-left:none;
 }
.winPop .content .provision dl dd span {
	vertical-align:middle;
  }
.winPop .content .provision dl dd.provision-txt2 {
	width:790px;
	text-align:right;
}
.winPop .content .provision dl dd.provision-txt2 input {
	margin-bottom:4px;;
}
.winPop .body .btn1 {
	width:400px;
	margin-left:280px; 
	display:inline-block;
	margin-top:20px;
	margin-bottom:40px;
}
.winPop .body .btn1 li {
	display:inline;
}
.winPop .body .btn2 {
	width:400px;
	margin-left:257px; 
	display:inline-block;
	margin-top:32px;
	margin-bottom:40px;
}
.winPop .body .btn2 li {
	display:inline;
}
.winPop .SystemMap {
 padding:25px 0;
}
.winPop .SystemMap .SystemMapTable {
	width:450px;
	margin:0 auto;
	border-top:1px solid #0065cc;
	padding:0;
	border-spacing:0px;
	border-collapse:collapse;
}
.winPop .SystemMap .SystemMapTable th {
	width:31%;
	text-align:left;
	padding:17px 0 17px 15px;
	border-bottom:1px solid #dddddd;
	background-color:#f3f3f3;
	color:#474747;
	font-size:11px;
	letter-spacing:-1px;
}
.winPop .SystemMap .SystemMapTable td {
	text-align:left;
	padding:17px 0 17px 15px;
	border-bottom:1px solid #dddddd;
	color:#454545;
	font-size:11px;
}
.winPop .SystemMap .SystemMapTable td a {
	color:#454545;
}
.winPop .SystemMap .SystemMapTable td span {
	padding:0 7px;
	font-size:8px;
	color:#bbbbbb;
}
/* Sub Main */
.SContainer {
	position: relative;
	top: 23px;
	left: 0;
}
.SContainer .leftMenu {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 6px 0 30px;
}
.SContents {
	position: absolute;
	top: 12px;
	width: 100%;
}

.SContents .content01 .dashboard h2{
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;
	color:#646464;
	margin-bottom:10px;
}
.SContents .content01 .dashboard h2 span{
	color:#0065cc;
}
.SContents .content01 .dashboard div.dashboard-wrap{
	float:left;
}
.SContents .content01 .dashboard dl{
	float:left;
	height:182px;
	background-color:#f2f2f2;
	border-bottom:2px solid #4d4d4d;
	border-top:1px solid #4d4d4d;
}
.SContents .content01 .dashboard dl.dashboard-box{
	float:left;
	width:467px;
	height:376px;
	margin-right:22px;
}
.SContents .content01 .dashboard dl.dashboard-box dd{
	width:334px;
	margin:0 auto;
	float:none;
}
.SContents .content01 .dashboard dl dt{
	background-color:#0065cc;
	padding:5px 0 5px 10px;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
}
.SContents .content01 .dashboard dl dd{
	float:left;
}
.SContents .content01 .dashboard dl dd.dashboard-bg1{
	position:relative;
	width:252px;
	height:125px;
	background: url(../images/bg_dash1.png) no-repeat;
	margin:16px 15px 0 15px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg2{
	position:relative;
	width:168px;
	height:125px;
	background: url(../images/bg_dash2.png) no-repeat;
	margin:16px 15px 0 0;
}
.SContents .content01 .dashboard dl dd.dashboard-bg6{
	position:relative;
	width:168px;
	height:125px;
	background: url(../images/bg_dash6.png) no-repeat;
	margin:16px 15px 0 0;
}
.SContents .content01 .dashboard dl dd.dashboard-bg3{
	position:relative;
	width:188px;
	height:125px;
	background: url(../images/bg_dash3.png) no-repeat;
	margin:16px 15px 0 15px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5{
	position:relative;
	width:336px;
	height:125px;
	background: url(../images/bg_dash5.png) no-repeat;
	margin:0 auto;
	margin-top:16px;
	margin-bottom:20px;
}
.SContents .content01 .dashboard dl dd p{
	position:absolute;
	font-weight:bold;
	color:#303030;
	text-align:center;
}
.SContents .content01 .dashboard dl dd span{
	color:#0065cc;
	font-weight:bold;
	display:block;
	padding-top:4px;
}
.SContents .content01 .dashboard dl dd span a{
	color:#0065cc;
}
.SContents .content01 .dashboard dl dd.dashboard-bg1 p.dashboard-txt1{
	top:9px;
	left:0;
	width:250px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg1 p.dashboard-txt2{
	top:76px;
	left:0;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg1 p.dashboard-txt3{
	top:76px;
	left:85px;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg1 p.dashboard-txt4{
	top:76px;
	left:170px;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg2 p.dashboard-txt1{
	top:9px;
	left:31px;
	width:100px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg2 p.dashboard-txt2{
	top:76px;
	left:0;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg2 p.dashboard-txt3{
	top:76px;
	left:85px;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg6 p.dashboard-txt1{
	top:9px;
	left:31px;
	width:100px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg6 p.dashboard-txt4{
	top:76px;
	left:31px;
	width:100px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg3 p.dashboard-txt1{
	top:9px;
	left:0;
	width:185px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg3 p.dashboard-txt2{
	top:77px;
	left:0;
	width:185px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5 p.dashboard-txt1{
	top:9px;
	left:0;
	width:330px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5 p.dashboard-txt2{
	top:77px;
	left:0;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5 p.dashboard-txt3{
	top:77px;
	left:85px;
	width:82px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5 p.dashboard-txt4{
	top:77px;
	left:191px;
}
.SContents .content01 .dashboard dl dd.dashboard-bg5 p.dashboard-txt5{
	top:77px;
	left:269px;
}

.SContents img.intro {
	position: absolute;
	top: 15px;
}
.SContents .SContact {
	position: absolute;
	top: 19px;
	right: 9px;
	width: 330px;
	height: 130px;
	background: url(../images/bg_contact.gif) no-repeat;
}
.SContents .contactHeader {
	position: relative;
	top: 18px;
	left: 23px;
}
.SContents .info {
	position: relative;
	top: 35px;
	left: 23px;
}
.SContents .info ul {
	float: left;
	margin-right: 37px;
}
.SContents .info ul li.detailInfo {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	line-height: 15px;
	padding-left: 2px;
}
.SContents .info ul li.nameRank {
	font-weight: bold;
	color: #555555;
	margin-bottom: 5px;
}
.SContents .content02 {
	position: relative;
	top: 12px;
}
.SContents .BigBanner {
	position: absolute;
	left:0px;
	width: 500px;
}
.SContents .SNotice {
	position: absolute;
	width: 446px;
	left:495px;
}
.SContents .subHeader {
	margin-bottom: 15px;
}
.SContents .boardMore {
	position: absolute;
	right: 0;
}
.SContents span {
	line-height: 23px;
}
.SContents span.first {
	font-weight: bold;
}
.SContents span.date {
	position: absolute;
	right: 0;
	color: #a1a1a1;
}
.SContents .SQna {
	position: absolute;
	top:166px;
	left: 495px;
	width: 446px;
}
.SContents .content03 {
	position: relative;
	top: 55px;
}


/* login page */

.footerPoral {
	width:100%;height:80px;background-color:#f4f4f4;position:fixed;left:0;bottom:0;
}

.footerPoral div {
	width:990px;
	margin:0 auto;
	position:relative;
}
.footerPoral div dl dt {
	position:absolute;
	top:29px;
	left:0;
}
.footerPoral div dl dd.footerPoral_address {
	color:#989898;
	position:absolute;
	text-align:left;
	line-height:15px;
	top:17px;
	left:140px;
}
.footerPoral div dl dd.footerPoral_address span {
	font-size:12px;
 	line-height:27px;
}
.footerPoral div dl dd.footerPoral_address span a {
	color:#989898;
}
.footerPoral div dl dd.footerPoral_address .footerTxt1 {
	padding:0 20px;
	font-weight:bold;
}
.footerPoral div dl dd.footerPoral_banner {
	color:#989898;
	position:absolute;
	text-align:left;
	line-height:15px;
	top:30px;
	left:750px;
}


/* Notice FAQ */

.cpSubSrch {
	text-align:left;
}
.cpSubSrch select {
	font-size:17px;
	margin-bottom:7px;
	vertical-align:middle;
}

.cpContentView {
	text-align:left;
	width:953px;
	border-top:2px solid #0065cc; 
	
}
.cpContentView th {
	border-bottom:1px solid #d9d9d9;
	background-color:#f3f3f3;
	padding:12px 15px;
	font-size:14px;
	text-align:left;
}
.cpContentView td {
	border-bottom:1px solid #d9d9d9;	
	padding:12px 15px;	
}
.cpContentView td textarea {
	width:850px;
	height:412px;
	display:none;
}
.cpBtnArea {
	font: 12px/1.5em dotum, '돋움', Arial, Helvetica, sans-serif;
	width:953px;
	margin-top:15px;
}
.cpBtnArea td .btnarea6 .btn, .cpBtnArea td .btnarea9 .btn {
	line-height:32px;
}
.cpBtnArea td .btnarea6 .btn span, .cpBtnArea td .btnarea9 .btn span {
	padding-bottom:3px;
}


/* Main Board */
.cpBoardWrap {
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0; 
	overflow:hidden;
}
.cpBoardWrap table {
	border-collapse:collapse; 
	width:460px; 
	font-size:13px;
	font-family : dotum, '돋움', Arial, Helvetica, sans-serif; 
	color:#565656;
}
.cpBoardWrap .cpBoardList {
	height:145px;
}
.cpBoardWrap .cpBoardList th {
	font-size:14px;
	font-weight:bold;
	color:#646464;
	text-align:left;
}
.cpBoardWrap .cpBoardList th span {
	color:#0065cc;
}
.cpBoardWrap .cpBoardList th .boardMore {
	position: absolute;
	right:43px;
	border:none;
}
.cpBoardWrap .cpBoardList td {
	list-style:none;	
	color:#333333;
	text-align:left;
}
.cpBoardWrap .cpBoardList .table_txt {
	width:370px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	list-style:none;
	color:#333333;
}
.cpBoardWrap .cpBoardList td a {
	color:#333333;
}
.cpBoardWrap .cpBoardList td.cpBoardDate {
	padding-left:13px;	
	color:#a1a1a1;
	width:20%;
}
.cpBoardWrap .lineTop {
	border-top:1px solid #E8E8E8;	
}
.cpBoardWrap .mt9 {
	margin-top:9px;	
}	
.cpBoardWrap
	a:link {text-decoration: none;}
	a:visited {text-decoration: none;}
	a:hover {color:#660099; text-decoration: none;}
}



/* Grid */
.cpSubGrid {
	width:951px;
	height:350px;
}
.cpSubGrid2 {
	width:815px;
	height:139px;
}
.cpSubGrid3 {
	width:815px;
	height:30px;
}
.cpSubGrid4 {
	width:815px;
	height:180px;
}
.cpSubGrid TABLE.obj TD {
	font: 12px dotum, '돋움', Arial, Helvetica, sans-serif;
	padding-top:5px;
}


/* Table Cell Width */
col.col_5p {
	width:5%;
}
col.col_6p {
	width:6%;
}
col.col_7p {
	width: 7%;
}
col.col_8p {
	width:8%;
}
col.col_9p {
	width:9%;
}
col.col_10p {
	width:10%;
}
col.col_11p {
	width:11%;
}
col.col_12p {
	width:12%;
}
col.col_13p {
	width: 13%;
}
col.col_14p {
	width:14%;
}
col.col_15p {
	width:15%;
}
col.col_16p {
	width: 16%;
}
col.col_17p {
	width:17%;
}
col.col_18p {
	width: 18%;
}
col.col_20p {
	width:20%;
}
col.col_22p {
	width:22%;
}
col.col_25p {
	width:25%;
}
col.col_27p {
	width: 27%;
}
col.col_30p {
	width:30%;
}
col.col_32p {
	width:32%;
}
col.col_34p {
	width:34%;
}
col.col_35p {
	width:35%;
}
col.col_37p {
	width: 37%;
}
col.col_40p {
	width:40%;
}
col.col_41p {
	width:41%;
}
col.col_50p {
	width:50%;
}
col.col_53p {
	width:53%;
}
col.col_60p {
	width:60%;
}
col.col_70p {
	width: 70%;
}
col.col_65p {
	width:65%;
}
col.col_85p {
	width:85%;
}
col.col_87p {
	width: 87%;
}
col.col_100p {
	width:100%;
}
th.col_5p {
	width:5%;
}
th.col_6p {
	width:6%;
}
th.col_8p {
	width:8%;
	}
th.col_9p {
	width:9%;
}
th.col_10p {
	width:10%;
}
th.col_11p {
	width:11%;
}
th.col_12p {
	width:12%;
}
th.col_14p {
	width:14%;
}
th.col_15p {
	width:15%;
}
th.col_15_6p {
	width: 15.6%;
}
th.col_17p {
	width:17%;
}
th.col_20p {
	width:20%;
}
th.col_22p {
	width:22%;
}
th.col_25p {
	width:25%;
}
th.col_30p {
	width:30%;
}
th.col_32p {
	width:32%;}
th.col_34p {
	width:34%;
}
th.col_35p {
	width:35%;}
th.col_40p {width:40%;
}
th.col_41p {
	width:41%;
}
th.col_50p {
	width:50%;
}
th.col_53p {
	width:53%;
}
th.col_60p {
	width:60%;
}
th.col_75p {
	width:75%;
}
th.col_100p {
	width:100%;
}
th.col_140px {
	width: 140px;
}

/* Margin, Padding */
.mb0 {
	margin-bottom:0;
}
.mb3 {
	margin-bottom:3px;
}
.mb5 {
	margin-bottom:5px;
}
.mb7 {
	margin-bottom: 7px;
}
.mb20 {
	margin-bottom:20px;
}
.mt2 {
	margin-top:2px;
}
.mt8 {
	margin-top:8px;
}
.mt15 {
	margin-top:15px;
}
.ml5 {
	margin-left:5px;
}
.ml30 {
	margin-left:30px;
}
.mr3 {
	margin-right:3px;
}
.mr23 {
	margin-right:23px;
}
.mr164 {
	margin-right:164px;
}
.mr-6 {
	margin-right:-6px;
}
.mt25 {
	margin-top:25px;
}
.pt3 {
	padding-top:3px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}

/* Width, Height */
.w50 {
	width:50px !important;
}
.w60 {
	width:60px !important;
}
.w65 {
	width:65px !important;
}
.w85 {
	width:85px !important;
}
.w95 {
	width:95px !important;
}
.w110 {
	width:110px !important;
}
.w120 {
	width:120px !important;
}
.w145 {
	width:140px !important;
}
.w173 {
	width:173px !important;
}
.w370 {
	width:370px !important;
}
.w99p {
	width:99% !important;
}
.h42 {
	height:42px;
}
.dvMinwidth400 {
	min-width: 400px;
}

.dvMinheight {
	overflow: hidden;
}

/* letter spacing */
.ls-2 {
	letter-spacing:-2px;
	
}

/* 추가 및 common.css에서 분할 */
/* 파랑 작은 버튼*/
.btnarea8 { float:right; width:auto; margin:0; height:auto;}
.btnarea8 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn8_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 25px; text-decoration: none;}
.btnarea8 a.btn:link, .btnarea8 a.btn:visited, .btnarea8 a:active { color: #FFF;}
.btnarea8 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn8_right_bg.png') no-repeat top right;}
.btnarea8 a.btn:hover span { color: #FFF;}

/* 파랑 큰 버튼*/
.btnarea9 { float:right; width:auto; margin:0; height:auto; margin-right:-6px;}
.btnarea9 a.btn { float:left; display: block; margin-right:5px; height:35px; padding-left:15px; background: transparent url('../images/btn6_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 35px; text-decoration: none;}
.btnarea9 a.btn:link, .btnarea9 a.btn:visited, .btnarea9 a:active { color: #FFF;}
.btnarea9 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn6_right_bg.png') no-repeat top right;}
.btnarea9 a.btn:hover span { color: #FFF;}

/* 파랑 작은 버튼*/
.btnarea10 { float:right; width:auto; margin:0; height:auto;}
.btnarea10 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn4_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 25px; text-decoration: none;}
.btnarea10 a.btn:link, .btnarea10 a.btn:visited, .btnarea10 a:active { color: #FFF;}
.btnarea10 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn4_right_bg.png') no-repeat top right;}
.btnarea10 a.btn:hover span { color: #FFF;}


.exePolicyTable td{
 border-bottom:0px solid #dddddd;
}

.disableInput{
	background-color:#D5D5D5;
}

.selfApproverText{
	font-size:11px;
	font-weight:100;
	color: #0065cc;
}

.popupAttachFileText{
	width: 100%;
	height: 100%;
	cursor: hand;
	line-height: 30px;
}