﻿﻿@charset "UTF-8";


/* login page */
.cpLogin {
	padding:0;
	margin:160px auto 0 auto;
	width:500px;
	text-align:center;
}
.cpLogin .cpLoginLogo {
	margin-bottom:26px;
	margin-left:40px;
	text-align:left;
}
.cpLogin .cpLoginBox {
	width:430px; 
	border:1px solid #c1c1c1;
}
.cpLogin .cpLoginBox .cpLoginTitle {
 	padding:34px 27px 27px 31px; 
 	text-align:left;
}
.cpLogin .cpLoginBox th {
 	vertical-align:auto; 
 	text-align:right; 
 	padding:0px 0px 0px 25px; 
 	font-size:14px;
 	color:#868686;
}
.cpLogin .cpLoginBox td {
 	padding:0px 0px 4px 0px;
 	text-align:right;
}
.cpLogin .cpLoginBox .cpLoginBtn {
 	width:90px; 
 	padding-right:25px; 
 	padding-left:10px; 
 	text-align:right;
}
.cpLogin .cpLoginBox .cpLoginBtn2 {
 	padding:17px 22px 0 25px; 
 	text-align:right;
}
.cpLogin .cpLoginBox .cpLoginCheck {
	text-align:left;
	padding:10px 0 10px 125px;
}
.cpLogin .cpLoginBox .cpLoginCheck input {
	vertical-align:middle;
}
.cpLogin .cpLoginBox .cpLoginSelect {
	padding:12px 30px 5px 10px;
}
.cpLogin .cpLoginBox .text {
 	width:160px; 
 	height:31px; 
 	padding-left:10px;
 	vertical-align:auto;
	line-height:35px;
	border-top:1px solid #a3a4a5;
	border-bottom:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #919293;
}
.footerPoral {
	width:100%;
	height:80px;
	background-color:#f4f4f4;
	position:fixed;
	left:0;
	bottom:0;
}
.footerPoral div {
	width:990px;
	margin:0 auto;
	position:relative;
}
.footerPoral div dl dt {
	position:absolute;
	top:29px;
	left:0;
}
.footerPoral div dl dd.footerPoral_address {
	color:#989898;
	position:absolute;
	text-align:left;
	line-height:15px;
	top:17px;
	left:140px;
}
.footerPoral div dl dd.footerPoral_address span {
	font-size:12px;
 	line-height:27px;
}
.footerPoral div dl dd.footerPoral_address span a {
	color:#989898;
}
.footerPoral div dl dd.footerPoral_address .footerTxt1 {
	padding:0 20px;
	font-weight:bold;
}
.footerPoral div dl dd.footerPoral_banner {
	color:#989898;
	position:absolute;
	text-align:left;
	line-height:15px;
	top:30px;
	left:750px;
}



/* Main layout */
table.cpMainWrap {
	width:1000px;
	border:0px;
	margin:0px;
	padding:0px;
}
table.cpMainWrap td div {
	position: relative;
}


/* Main userinfo */
.cpUserName {
	width:100%;
	border:0; 
	padding:0px; 
	margin:0px;
	border-collapse:collapse;
	font-size:16px;
	font-family:Malgun Gothic, Verdana, Tahoma; 
	color:#565656;
	letter-spacing:-1px;
}
.cpUserName td {
	padding:24px 0 12px 12px;
	font-size:16px;
}
.cpUserId {
	margin:8px 0 0 12px; 		
}
.cpUserId th {
	text-align:left;
	font-weight:bold;
	color:#818181;
	letter-spacing:-1px;
	font-size:14px;
}
.cpUserId td {
	color:#9E9E9E;
	font-size:14px;
}
.cpUserId div.btnarea10 A{
	width:90px;
	color:#ffffff;
	margin-left:100px;
}
.cpUserId div.btnarea10 A.btn {
	font : bold 11px Dotum, Verdana, Trebuchet MS;
	line-height:22px;
	color:#ffffff;
	font-size:11px;
}
.cpUserId div.btnarea10 A.btn span {
	padding-left:2px;
	padding-top:3px;
	color:#ffffff;
	font-size:11px;
}
.cpUserBnnr {
	position:fixed;
	bottom:0;
	width:100%;
	height:101px;
	margin-top:8px;
	overflow:hidden;
	border-top:3px solid #C9385B;	
}
.cpUserBnnr td {
	text-align:center;
	padding:5px;
	background:#666464;
	border-right:1px solid #646464;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
}
.cpUserBnnr td span {
	display:block;
	line-height:35px;
}
.cpUserBnnr td span a {
	font-size:35px;
	color:#ffffff;
	font-weight:500px;
}
.cpUserBnnr td.bnnrRight {
	text-align:center;
	padding:5px;
	background:#3D3D3D;
	font-size:13px;
	color:#FFEE7D; font-weight:bold;
}
.cpUserBnnr td.bnnrRight span a {
	font-size:35px; 
	color:#FFEE7D; 
	font-weight:500px;
}



/* Main upDownLink */
.cpUpdownWrap {
	margin:0px;
	padding:0px;
}
.cpUpdownWrap img {
	width:246px;
	height:331px;
	border:none;
}



/* Main board */
.cpBoardWrap {
	margin:0;
	padding:0;
	overflow:auto;
	text-align:center;
}
.cpBoardWrap table {
	border-collapse:collapse; 
	width:100%; 
	font-size:13px;
	font-family : Malgun Gothic, Verdana, Tahoma; 
	color:#565656;
}
.cpBoardWrap .cpBoardList {
	height:145px;
	margin-top:10px;
}
.cpBoardWrap .cpBoardList th {
	font-weight:bold;
	padding-left:20px;
	/* color:#c8294b; */
	text-align:left;
	font-size:14px;
}
.cpBoardWrap .cpBoardList th span {
	color:#c8294b;
}
.cpBoardWrap .cpBoardList th .boardMore {
	position: absolute;
	right:15px;
	border:none;
}
.cpBoardWrap .cpBoardList td {
	list-style:none;
	padding-left:10px;		
	color:#333333;
	text-align:left;
}
.cpBoardWrap .cpBoardList .table_txt {
	width:360px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	list-style:none;
	color:#333333;
}
.cpBoardWrap .cpBoardList td a {
	color:#333333;
}
.cpBoardWrap .cpBoardList td.cpBoardDate {
	color:#a1a1a1;
	width:20%;
}
.cpBoardWrap .lineTop {
	border-top:1px solid #E8E8E8;	
}
.cpBoardWrap .mt9 {
	margin-top:9px;	
}	
.cpBoardWrap
	a:link {text-decoration: none;}
	a:visited {text-decoration: none;}
	a:hover {color:#660099; text-decoration: none;}
}



/* Sub Page */
.cpSubTitle {
	margin-top:27px;
}
.cpSubTitle th {
	vertical-align:bottom;
	letter-spacing:-1px;
	color:#747474;
	font-family:Malgun Gothic;
	font-weight:bold;
	font-size:25px;
	text-align:left;
	padding-bottom:2px;
}
.cpSubTitle td {
	padding-bottom:10px;
	vertical-align:bottom;
	letter-spacing:-1px;
	color:#7d7d7d;
	font-size:15px;
}
.cpSubTxt {
	text-align:right; 
	font-size:13px; 
	color:#454545; 
	height:40px; 
	width:100%;
}
.cpSubTxt font {
	color:#e57c00; 
	font-weight:bold
}
.cpSubGrid {
	width:100%;
	height:60%;
}
.cpSubGrid2 {
	width:480px; 
	height:320px; 
}
.cpSubGrid3 {
	width:300px; 
	height:300px; 
}
.cpSubGrid4 {
	padding:8px;
	 width: 100%;
	 margin-top:8px;
}
.cpSubSrch {
	height:40px;
	width:100%;
}
.cpSubSrch th {
	text-align:left;
	vertical-align:middle;
}
.cpSubSrch .searchTerm, .p_text {
	font-size:16px;
	float:left;	
	vertical-align:middle;
}
.cpSubSrch td {
	text-align:right;
}
.cpSubSrch td font {
	color:#e57c00;
	font-weight:bold;
}
.cpBtnArea {
	width:100%;	
	margin-top:11px;
}
.cpBtnArea td {
	text-align:right;	
}
.cpBtnArea div {
	float:right; padding-top:11px;
}



/* JoiningUser */
.cpJoinWrap {
	margin:0; 
	padding:0;  
	font-family:Malgun Gothic; 
	overflow:auto;	
}
.cpJoinBoardWrap {
	width:100%;
	border-top:2px solid #c8294b;
	border-bottom:1px solid #cccccc;
	background-color:#f9f9f9;
}
.cpJoinBoard {
	width:100%;
	margin:30px 0;
}
.cpJoinBoard th {
	width:20%;
	text-align:right;
	background-color:#f9f9f9;
	font-weight:bold;
	padding:5px 10px 5px 0;
}
.cpJoinBoard td {
	text-align:left;
	width:80%;
	background-color:#f9f9f9;
	padding:5px 0;
}
.cpJoinBoard .btnarea8 .btn {
	line-height:22px;
}
.cpJoinBoard .btnarea8 .btn span{
	padding-bottom:3px;
}
.cpJoinBoard .cpJoinTxt {
	clear:both;
	font-size:11px;
	color:#737373;
	padding-top:0px;
	padding-left:3px;
}
.cpJoinBoard .cpJoinBtn {
	padding-top:25px; 
	border-top:2px solid #c8294b;
}
.cpJoinBoard .btnarea8, .p_text{
	float:left; margin:0 3px;
}



/* MemberInfo */
.cpMemberBoard {
	width:100%;
	border-top:2px solid #c8294b; 	
}
.cpMemberBoard th {
	width:25%;
	border-bottom:1px solid #d9d9d9;
	background-color:#f3f3f3;	
	text-align:left;
	font-size:13px;
	padding:12px 15px;
}
.cpMemberBoard td {
	width:25%;
	border-bottom:1px solid #d9d9d9;	
	padding:12px 15px;
}
.cpMemberBoard input {
	font-size:12px;
}
.cpMemberTitle {
	font-size:18px;
	font-weight:bold;
	padding:25px 0 15px 0;
	color:#565656;
	text-align:left;
}



/* Content */
.cpContentView {
	width:100%;
	border-top:2px solid #c8294b; 
	
}
.cpContentView th {
	border-bottom:1px solid #d9d9d9;
	background-color:#f3f3f3;
	padding:12px 15px;
	font-size:14px;
	text-align:left;
}
.cpContentView td {
	border-bottom:1px solid #d9d9d9;	
	padding:12px 15px;	
}
.cpContentView td textarea {
	width:850px;
	height:412px;
	display:none;
}



/* findIdPass page */
.cpFindIdPassWrap {
	overflow: hidden; 
	padding:20px;
}
.cpFindIdPassWrap .cpFindIdPassTitle {
	border-bottom:2px solid #c8294b; 
	padding-top:0px; 
	padding-bottom:15px; 
	text-align:left;
	letter-spacing:-1px; 
	color:#747474; 
	font-family:Malgun Gothic;
	font-weight:bold; 
	font-size:25px;
}
.cpFindIdPassWrap .cpFindIdPass td {
	padding: 15px 0px 15px 0px;
}
.cpFindIdPassWrap .cpFindIdPassBoard {
	width:100%;
	border-top:2px solid #c8294b; 
	border-bottom:1px solid #d9d9d9;	
}
.cpFindIdPassWrap .cpFindIdPassBoard th {
	width:25%;
	font-size:13px;
	padding:6px 8px 10px 8px;
	border-bottom:1px solid #d9d9d9;	
	background-color:#f3f3f3;
	text-align:right;
}
.cpFindIdPassWrap .cpFindIdPassBoard td {
	border-bottom:1px solid #d9d9d9; 
	padding:10px 8px;
	text-align:left;
}
.cpFindIdPassWrap .cpFindIdPassBoard .p_text {
	width:150px;
}
.cpFindIdPassWrap .cpFindIdPassBoard font {
	color:#c8294b;
	font-size:11px;
}


/* SearchCompany page */

.cpSrchComTxt {
	padding-top: 20px; 
	padding-bottom:15px;
	color:#c8294b;
}
.cpSrchComSearch {
	vertical-align:middle;
}
.cpSrchComSearch td {
	padding:0px 0px 15px 0px; 
	text-align:right; 
	letter-spacing: -3px;
	vertical-align:middle;
}
.cpSrchComSearch .p_text {
	padding:0px 8px 0 8px; 
	float:none;
	vertical-align:middle;
}
.cpSrchComSearch .search {
	vertical-align:middle;
}
.cpSrchComBtn {
	margin-top:15px;
}
.cpSrchComBtn th {
	width:75%;
	text-align:left;
}
.cpSrchComBtn th font {
	font-size:11px;
	color:#c8294b;
}
.cpSrchComBtn td {
	width:25%;
}


/* enrollCompany page */
.cpEnrollComBoard {
	width:100%;
	margin-top:15px;
}
.cpEnrollComBoard th {
	padding-top: 10px;
	text-align:right;
	padding-right:25px;
}
.cpEnrollComBoard td {
	padding-top: 10px;
	text-align:left;
}
.cpEnrollComBoard td .btnarea10 {
	float:left;
}
.cpEnrollComBoard td .btnarea10 .btn {
	line-height:22px;
}
.cpEnrollComBoard td .btnarea10 .btn span {
	padding-bottom:3px;
}
.cpEnrollComBtn {
	width:100%;
	margin-top:15px;
}
.cpEnrollComBtn .btnarea10 {
	float:right;
}
.cpEnrollComBtn .btnarea10 .btn {
	line-height:22px;
}
.cpEnrollComBtn .btnarea10 .btn span {
	padding-bottom:3px;
}


/* Main board */
.cpChangePassWrap {
	overflow: hidden; 
	padding:20px; 
	text-align:center;
}
.cpChangePassBox {
	width:770px;
	border: 1px solid #b4b4b4;
	margin:0 auto;
	margin-top:130px;
	font:12px dotum, '돋움', Arial, Helvetica, sans-serif;
	color: #222;
	background: #fff;
	padding:20px 20px 25px 20px;
}
.cpChangePassTitle {
	text-align:left;
	height: 25px;
	border-bottom: 2px solid #666666;
}
.cpChangePassTitle span {
	font-weight: bold;
	font-size: 13px;
	color: #c8294b;
}
.cpChangePassContentBox {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom:25px;
}
.cpChangePassContentBox table {
	width:670px;
	padding-bottom:14px;
	margin-left:26px;
	border-spacing:0px; 
	border:0; 
	border-collapse:collapse;
}
.cpChangePassContentBox table th {
	width:110px;
	text-align: left;
	font-size: 13px;
	padding:5px 0;
}
.cpChangePassContentBox table th span {
	color:#c8294b;
	padding-right:3px;
}
.cpChangePassContentBox table td {
	text-align: left;
	padding:7px 0 7px 10px;	
}
.cpChangePassContentBox table td span {
	font-size:11px;
	letter-spacing:-1px;
	color:#777777;
}
.cpChangePassInput1 {
	border:1px solid #999999;
	padding:4px;
	width:170px;
}
.cpChangePassInput2 {
	border:1px solid #999999;
	padding:4px;
	width:170px;
	margin-top:15px;
}
.cpChangePassInput3 {
	border:1px solid #999999;
	padding:4px;
	width:170px;
	margin-bottom:3px;
}
.cpChangePassLine {
	border-top:1px solid #cccccc;
}
.cpChangePassBtn a {
	display:inline-block;
	position:relative;
	margin-right:4px; 
	background:url(/ext/images/btn_crud_normal.gif) no-repeat left top;
	text-decoration: none;
	cursor:pointer;
}
.cpChangePassBtn a span {
	display:inline-block;
	position:relative;
	margin-right:4px; 
	background:url(/ext/images/btn_crud_normal.gif) no-repeat right top;
	color:#222;
	left:8px;
	line-height:28px;
	padding:0 15px 0 8px;
	background-position:right top;
}



/* SearchManager page */
.cpSearchManagerBox {
	border: 1px solid #cdcdcd; 
	padding: 10px;
	margin-right:10px;
}
.cpSearchManagerBox2 {
	padding:0px 10px 0px 10px;
}



/* AgreeUseInfo page */
.winPop {
	position: relative;
}
.winPop .header {
	background: url(../images/red/bg_winPopHeader.gif) repeat-x left bottom #f0f0f0;
	height: 22px;
	padding: 12px 0 12px 18px;
}
.winPop .header span {
	font-weight: bold;
	font-size: 14px;
}
.winPop .header img {
	position: absolute;
	top: 15px;
	right: 20px;
}
.winPop .content {
	padding-bottom: 15px;
	border-bottom: 1px solid #dbdbdb;
	width: 790px;
}
.winPop .body {
	padding:20px 20px 0 20px;
	background: #ffffff;
}

.winPop .body .close {
	position: relative;
	height: 26px;
	margin-top: 20px;
}
.winPop .body .close a {
	position: absolute;
	right: 0;
}
.winPop .content .provision {
	width:900px;
}
.winPop .content .provision-txt {
	width:790px;
	border-bottom: 2px solid #666;
	padding-bottom:15px;
	line-height:16px;
}
.winPop .content .provision dl {
	width:790px;
	border-bottom: 2px solid #666;
	margin: 0 0 11px 0;
	padding:4px 0 7px 0;
}
.winPop .content .provision dl dt {
	font-weight:bold;
	font-size:13px;
	line-height:28px;
}
.winPop .content .provision dl dd textarea {
	width:770px;
	height:300px;
	background-color:#eaeaea;
	padding:30px 10px 0 10px;
	border-top:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	border-right:none;
	border-left:none;
 }
.winPop .content .provision dl dd span {
	vertical-align:middle;
  }
.winPop .content .provision dl dd.provision-txt2 {
	width:790px;
	text-align:right;
}
.winPop .content .provision dl dd.provision-txt2 input {
	margin-bottom:4px;;
}


/* cpCom page */
.cpComMainWrap {
	margin:0; 
	padding:0px;  
	text-align:center; 
	background-image: url(../../ext/images/menu-background_black.png); 
	background-repeat: repeat-x;
}
.cpComMainBox { 
	margin:0; 
	width:1100px;  
	text-align:center; 
	height:91%;
}
.cpComMainBox .cpComMainTop { 
	z-index:1;
	padding-right:15px;
	padding-left:24px;
}
.cpComMainBox .cpComMainTop table { 
	width:100%;
}
.cpComMainBox .cpComMainTop table th { 
	width:210px;
	vertical-align:auto; 
	text-align:left; 
	padding:18px 10px 18px 27px;
}
.cpComMainBox .cpComMainTop table .gnb_userdata {
	margin:0px;
	padding-right:80px;
	padding-top:20px;
	text-align:right;
}
.cpComMainContentBox {
	z-index:0;
}

.dhtmlxMenu_dhx_skyblue_Middle{
	height:48px;
	background-color:#484849;
}
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled {
  border: 1px solid #484849;
}
DIV.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal{
	height:40px;
	line-height:35px;
 	font-size:18px;
	font-weight:bold;
	color:#ffffff;
}
DIV.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected{
	cursor:pointer;	
	height:40px;	
	line-height:35px;	
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	border:1px solid #484849;
	background-color:#484849;
}
DIV.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon TABLE.dhtmlxMebu_SubLevelArea_Tbl DIV.sub_item_text{
	cursor:pointer;
	line-height:37px;
	font-weight:bold;
	color:#ffffff;	
	font-size:15px;
}
DIV.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon TABLE.dhtmlxMebu_SubLevelArea_Tbl TR.sub_item_selected TD{
	background-color:#858585;
	border-color:#858585;	
}
DIV.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon{
	border:1px solid #484849;
	background-color:#484849;
}
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td{
 	border-top: 1px solid #484849;
 	border-bottom: 1px solid #484849;
}




/* col width 값 */
.col100px {
	width:100px;
}
.col150px {
	width:150px;
}
.col40p {
	width:40%;
}
.col50p {
	width:50%;
}



/* clear */
.clear {
	clear:both;
}



/* hidden */
.hiddenV {
	visibility:hidden;
}



/* height */
.h38p {
	height:38%;
}
.h26 {
	height:26px;
}


/* Margin, Padding */
.mb0 {
	margin-bottom:0;
}
.mb3 {
	margin-bottom:3px;
}
.mb5 {
	margin-bottom:5px;
}
.mb7 {
	margin-bottom: 7px;
}
.mb20 {
	margin-bottom:20px;
}
.mt2 {
	margin-top:2px;
}
.mt8 {
	margin-top:8px;
}
.mt15 {
	margin-top:15px;
}
.ml5 {
	margin-left:5px;
}
.ml30 {
	margin-left:30px;
}
.mr3 {
	margin-right:3px;
}
.mr23 {
	margin-right:23px;
}
.mr164 {
	margin-right:164px;
}
.mr-6 {
	margin-right:-6px;
}
.mt25 {
	margin-top:25px;
}
.pt3 {
	padding-top:3px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb0 {
	padding-bottom:0px;	
}
.pt15 {
	padding-top:15px;	
}
/*  추가  common.css에서 분할 */
/* 연핑크 작은 버튼*/
.btnarea8 { float:right; width:auto; margin:0; height:auto;}
.btnarea8 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn11_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 25px; text-decoration: none;}
.btnarea8 a.btn:link, .btnarea8 a.btn:visited, .btnarea8 a:active { color: #FFF;}
.btnarea8 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn11_right_bg.png') no-repeat top right;}
.btnarea8 a.btn:hover span { color: #FFF;}

/* 핑크 큰 버튼*/
.btnarea9 { float:right; width:auto; margin:0; height:auto; margin-right:-6px;}
.btnarea9 a.btn { float:left; display: block; margin-right:5px; height:35px; padding-left:15px; background: transparent url('../images/btn12_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 35px; text-decoration: none;}
.btnarea9 a.btn:link, .btnarea9 a.btn:visited, .btnarea9 a:active { color: #FFF;}
.btnarea9 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn12_right_bg.png') no-repeat top right;}
.btnarea9 a.btn:hover span { color: #FFF;}

/* 진핑크 작은 버튼*/
.btnarea10 { float:right; width:auto; margin:0; height:auto;}
.btnarea10 a.btn { float:left; display: block; margin-right:5px; height:25px; padding-left:15px; background: transparent url('../images/btn9_left_bg.png') 0 0 no-repeat; font:bold 12px Malgun Gothic, Verdana, Trebuchet MS; line-height: 25px; text-decoration: none;}
.btnarea10 a.btn:link, .btnarea10 a.btn:visited, .btnarea10 a:active { color: #FFF;}
.btnarea10 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/btn9_right_bg.png') no-repeat top right;}
.btnarea10 a.btn:hover span { color: #FFF;}