@charset "utf-8";
/************************************************
2011-03-26
Version : 1.0 
*************************************************/

body {margin:0; padding:0; font-size:12px; line-height:18px; font-family:Malgun Gothic, Verdana, Tahoma; color:#565656; }
table, td, th, li  { font-size:12px; font-family:Malgun Gothic, Verdana, Tahoma; color:#565656; }

/* inline */
img{border:0 none;}
cite, em, dfn {font-style:normal;}
hr {display:none;}

/* block */
h1, h2, h3, h4, h5, h6 {margin:0; font-size:12px;}
address {font-style:normal}
blockquote, p  {margin:0}
pre {margin:0;font-size:1em}

/* table */
table {border-collapse:collapse; border-spacing:0;}
caption {display:none}

/* list */
dd, dl, ol, ul {margin:0;padding:0}
li {list-style-type:none}

/* form */
form {margin:0}
fieldset {margin:0;padding:0;border:0 none}
legend {display:none}

/*input */
input.p_text{
	/*input 둘레에 음영 넣어 입체적으로 보이게 하는 CSS*/
	border-top:1px solid #a3a4a5;
	border-bottom:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #919293;
	line-height:25px;
	vertical-align:auto;
	padding:0;
	height:25px;}
input.text {padding:0; height:19px; font-size:11px; vertical-align:bottom;_vertical-align:middle; /*color:#888;*/ line-height:19px; border:1px solid #ddd;}
input.check, input.radio {width:13px; height:13px; margin:2px 5px 3px 0; padding:0 }
select {font-size:11px; vertical-align:top; margin:0; color:#676767; overflow: scroll;}
textarea {margin:0;padding:5px 4px;border:1px solid #CCC;vertical-align:top;font-size:1em;color:#5A5A5A}

/* clear */
.clear:after{content:"."; height:0; font-size:0; visibility:hidden; display:block; clear:both}
.clear{ display:inline-block }
* html .clear{ height:0 }
.clear{display:block}
.clear-both{clear:both;height:0;font-size:0}

/* link */
a { color:#555; text-decoration:none; cursor:pointer}
a:visited { color:#555 }
a:active, a:hover {	color:#ff6600; text-decoration:none; }

/* PNG */
.png24{tmp:expression(setPNG24(this));}


/*파트너스 포탈 관련 CSS입니다.*/
/*input */
input.p_text{
	/*input 둘레에 음영 넣어 입체적으로 보이게 하는 CSS*/
	border-top:1px solid #a3a4a5;
	border-bottom:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #919293;
	line-height:25px;
	vertical-align:auto;
	padding:0;
	height:25px;}
select.searchTerm{
	font-size:12px; vertical-align:text-bottom; margin:0px 0px 2px 0px; color:#676767;
}
IMG.search{
	vertical-align:text-bottom;
}
td.p_title{
	text-align:left; 
	font-size:17px;
	font-weight:bold;
}
td.pptd_t{
	padding: 11px 17px 11px 17px;
	background-color:#ebf2f5;
	font-size:13px;
	font-weight:bold;
}
td.pptd_con{
	padding: 11px 17px 11px 17px;
	font-size: 13px;
}
#header_top{
	text-align:left; 
	height:97px;
	/* background-image:url(../../ext/images/background_img_PP.png); */
	background-repeat:no-repeat;
	background-position-x:right;
	border-bottom:1px solid #e3e3e3;
}