﻿@charset "utf-8";
/************************************************
2011-03-30
Version : 1.0 
*************************************************/

.popup_tit { position:relative; height:54px; background:url(../images/nimsou_popup_top_bg.gif) repeat-x; }
.popup_tit h1 {float:left; height:23px; margin:6px 0 2px 15px; padding:0 0 2px 25px; font-size:16px; background:url(../images/nimsou_popup_tit_arrow.gif) 0 2px no-repeat; }
.popup_tit a {position:absolute; right:5px; top:17px;  margin:0; padding:0; }

.popup_search_box1 { width:3px; height:3px; background:url(../images/popup_searchbox_1.gif) 0 0 no-repeat; }
.popup_search_box2 { background:url(../images/popup_searchbox_2.gif) 0 0 repeat-x; }
.popup_search_box3 { background:url(../images/popup_searchbox_3.gif) 0 0 no-repeat; }
.popup_search_box4 { background:url(../images/popup_searchbox_4.gif) 0 0 repeat-y; }
.popup_search_box5 { width:3px; height:3px; background:url(../images/popup_searchbox_5.gif) 0 0 no-repeat; }
.popup_search_box6 { background:url(../images/popup_searchbox_6.gif) 0 0 repeat-x; }
.popup_search_box7 { background:url(../images/popup_searchbox_7.gif) 0 0 no-repeat; }
.popup_search_box8 { background:url(../images/popup_searchbox_8.gif) 0 0 repeat-y; }
.popup_search_box9 { padding:5px 8px; background:#e7e7e7; }

.popup_search_form { }
.popup_search_form	td { padding:4px 0 2px 0; }
.popup_search_form	td.popup_search_tit { padding-left:10px; color:#666; background:url(../images/bul_gray_dot.gif) 0 50% no-repeat; }
.popup_search_form	td.popup_search_line { height:10px; background:url(../images/popup_searchbox_line.gif) 0 50% repeat-x; }

.popup_search_txt { color:#8b8b8b; font-size:0.917em}

/* Popup-버튼 CSS */
.btn_box	{ border-top:2px solid #969595; }

.p_btnarea { float:right; width:auto; margin:0; height:auto;}
.p_btnarea a.btn { float:left; display: block; margin-right:5px; height:24px; padding-left:15px; background: transparent url('../images/p_btn1_left_bg.gif') 0 0 no-repeat; font:bold 11px Dotum, Verdana, Trebuchet MS; line-height: 24px; text-decoration: none;}
.p_btnarea a.btn:link, .p_btnarea a.btn:visited, .p_btnarea a:active { color: #FFF;}
.p_btnarea a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/p_btn1_right_bg.gif') no-repeat top right;}
.p_btnarea a.btn:hover span { color: #FFF;}

.p_btnarea2 { float:right; width:auto; margin:0; height:auto;}
.p_btnarea2 a.btn { float:left; display: block; margin-top:5px; height:22px; padding-left:15px; background: transparent url('../images/p_btn2_left_bg.gif') 0 0 no-repeat; font:bold 11px Dotum, Verdana, Trebuchet MS; line-height: 24px; text-decoration: none;}
.p_btnarea2 a.btn:link, .p_btnarea2 a.btn:visited, .p_btnarea2 a:active { color: #FFF;}
.p_btnarea2 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/p_btn2_right_bg.gif') no-repeat top right;}
.p_btnarea2 a.btn:hover span { color: #FFF;}

.p_btnarea3 { float:left; width:auto; margin:0; height:auto;}
.p_btnarea3 a.btn { float:left; display: block; margin-top:5px; height:22px; padding-left:15px; background: transparent url('../images/p_btn2_left_bg.gif') 0 0 no-repeat; font:bold 11px Dotum, Verdana, Trebuchet MS; line-height: 24px; text-decoration: none;}
.p_btnarea3 a.btn:link, .p_btnarea3 a.btn:visited, .p_btnarea3 a:active { color: #FFF; }
.p_btnarea3 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/p_btn2_right_bg.gif') no-repeat top right;}
.p_btnarea3 a.btn:hover span { color: #FFF;}

.p_btnarea4 { float:right; width:auto; margin:0; height:auto;}
.p_btnarea4 a.btn { float:left; display: block; margin-left:5px; height:22px; padding-left:15px; background: transparent url('../images/p_btn3_left_bg.gif') 0 0 no-repeat; font:bold 11px Dotum, Verdana, Trebuchet MS; line-height: 24px; text-decoration: none;}
.p_btnarea4 a.btn:link, .p_btnarea4 a.btn:visited, .p_btnarea4 a:active { color: #FFF;}
.p_btnarea4 a.btn span {display:block; padding: 0 15px 0 0; background:transparent url('../images/p_btn3_right_bg.gif') no-repeat top right;}
.p_btnarea4 a.btn:hover span { color: #FFF;}

.p_btnarea5 { float:right; width:auto; margin:0; height:auto;}
.p_btnarea5 a.btn { float:left; display: block; margin-left:5px; height:19px; padding-left:10px; background: transparent url('../images/p_btn4_left_bg.gif') 0 0 no-repeat; font:normal 11px Dotum, Verdana, Trebuchet MS; line-height: 21px; text-decoration: none;}
.p_btnarea5 a.btn:link, .p_btnarea5 a.btn:visited, .p_btnarea5 a:active { color: #FFF;}
.p_btnarea5 a.btn span {display:block; padding: 0 10px 0 0; background:transparent url('../images/p_btn4_right_bg.gif') no-repeat top right;}
.p_btnarea5 a.btn:hover span { color: #FFF;}


